.file-manager {
	.clear;

	position: absolute;
	background: white;
	border-radius: @br-Lg;
	border: 1px solid @text-color;
	overflow: hidden;
	display: table;
	table-layout: fixed;
	top: @gw-Md;
	left: @gw-Md;
	right: @gw-Md;
	overflow: hidden;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}

	.file-manager--directory,
	.file-manager--main {
		display: table-cell;
	}

	.file-manager--directory {
		padding: @gw-Sm;
		width: 25%;
		background: @grey-lighter;

		ul {
			list-style: none;
		}
			li {
				cursor: pointer;
			}

			button {
				padding: 0;
				background: none;
				border: none;
				box-shadow: none;
			}

			input {
				background: none;
				border-width: 0 0 1px 0;
				border-color: @text-color;
				border-style: solid;
				box-shadow: none;
			}
	}

	.file-manager--sort {
		position: absolute;
		right: @gw-Sm;
		padding-top: @gw-Sm;
		z-index: 1;
	}

	.file-manager--main {
		width: 75%;
	}
		.file-manager--header {
			padding: @gw-Sm;
			border-bottom: 1px solid @grey-lighter;
			position: relative;

			h2 {
				margin: 0 0 @gw-Lg;
			}
		}

			.file-manager--new-folder {
				position: absolute;
				background: @grey-lightest;
				border: 1px solid @grey;
				max-width: 320px;
				top: 100% + @gw-Sm;
			}

		.file-manager--content {
			//max-height: 75vh;
			//overflow: hidden;
			padding: @gw-Sm;
		}
			.file-manager--image {
				width: 300px;
				display: inline-block;
				padding: @gw-Xs;
				margin: @gw-Sm;
				cursor: pointer;
				border: 1px solid transparent;

				&:hover {
					background: @grey-lightest;
				}
				
				&.file-manager--image__active {
					background: @grey-lighter;
					border-color: @grey-light;

				}
			}
				.image--name {
					margin: 0;
					font-weight: 400;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
				.image--size {
					text-size: .8em;
					color: @grey;
					margin: 0;
				}
				.image--content {
					max-width: 100%;
				}

		.file-manager--footer {
			padding: @gw-Sm;
			text-align: right;
		}

		.file-manager--prompt, {
			background: rgba(155, 155, 155, .75);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			text-align: center;
			padding: @gw-XXl;
			z-index: 2;
		}
			.prompt--content {
				max-width: 100%;
				display: inline-block;
				text-align: left;
			}
		.uploader {
			background: white;
			padding: @gw-Sm;
		}
			.uploader--header {margin-top: 0;}
			.uploader--sub-header {font-weight: normal; margin-top: 0;}
			.uploader--file-drop {
				text-align: center;
				border: 3px dashed @grey;
				background: @grey-lightest;
				padding: @gw-XXl;
				font-size: 32px;
				margin-bottom: @gw-Sm;
			}
			.uploader--files {}
			.uploader--submit {}

		.file-manager--delete {
			h2 {margin: 0 0 @gw-Lg;}
		}