@scrollbar-width: @gw;

[data-function='scroll']{
	position: relative;
	height: 100%;
	width: 100%;

	&.no-scrollbar{
		[data-scroll='content-wrapper']{
			padding-right: 0;
		}

		[data-scroll='scrollbar']{
			display: none;
		}
	}
}

[data-scroll='content-wrapper']{
	height: 100%;
	width: 100%;
	padding-right: @scrollbar-width + 3;
	overflow: hidden;
}

[data-scroll='scrollbar']{
	height: 100%;
	width: @scrollbar-width;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;

	button{
		min-height: 30px;
		max-height: 100%;
		width: 100%;
		padding: 4px;
		display: block;
		background: none;
		border: none;
		position: absolute;
		margin: 0;
		top: 0;
		right: 0;
		transition: height .3s ease-out;

		&:focus{
			outline: none;
		}
		&:hover{
			background: none;

			&:after{
				background: rgba(50, 50, 50, .75);
			}
		}

		&:after{
			content: '\00A0';
			background: rgba(50, 50, 50, .5);
			height: 100%;
			width: 100%;
			display: block;
			border-radius: 15px;
			transition: background 1s ease-out;
		}
	}
}