extends ../../layout.pug

block content
	.media-bg-img.request-page-header
		h1 Countries

	.container.ptb-Sm
		.content-card
			.row
				.col-sm-2.col-xs-3
					strong.js-name-sort Name
				.col-sm-3.col-xs-3
					strong.js-continent-sort Continent(s)
				.col-xs-6
					strong.js-region-sort World Region(s)

			.js-countries
				for country in countries
					.row.js-country
						.col-sm-2.col-xs-3
							a.js-name(href=`/${country.url}`)= country.names.display
						.col-sm-3.col-xs-3
							- for (var i = 0; i < country.continentDisplay.length; i++)
								span.js-continent= country.continentDisplay[i]

								if ((i+1) !== country.continentDisplay.length)
									|,&nbsp;

						.col-xs-6
							- for (var i = 0; i < country.worldRegionsDisplay.length; i++)
								span.js-region= country.worldRegionsDisplay[i]

								if ((i+1) !== country.worldRegionsDisplay.length)
									|,&nbsp;

	script(type='text/javascript').
		$(document).ready(function(){
			var countries = $('.js-country');

			//sort by name
			$('.js-name-sort').click(function sortByContinent(){
				$(this).toggleClass('js-asc');

				if($(this).hasClass('js-asc')){
					var sorted = countries.sort(function (a, b) {
						if ($(a).find('.js-name').text() > $(b).find('.js-name').text()) {
							return 1;
						}

						if ($(a).find('.js-name').text() < $(b).find('.js-name').text()) {
							return -1;
						}

						return 0;
					});
				} else {
					var sorted = countries.sort(function (a, b) {
						if ($(a).find('.js-name').text() < $(b).find('.js-name').text()) {
							return 1;
						}

						if ($(a).find('.js-name').text() > $(b).find('.js-name').text()) {
							return -1;
						}

						return 0;
					});
				}

				$('.js-countries').append(sorted);
			});

			//sort by continent
			$('.js-continent-sort').click(function sortByContinent(){
				$(this).toggleClass('js-asc');

				if($(this).hasClass('js-asc')){
					var sorted = countries.sort(function (a, b) {
						if ($(a).find('.js-continent').text() > $(b).find('.js-continent').text()) {
							return 1;
						}

						if ($(a).find('.js-continent').text() < $(b).find('.js-continent').text()) {
							return -1;
						}

						return 0;
					});
				} else {
					var sorted = countries.sort(function (a, b) {
						if ($(a).find('.js-continent').text() < $(b).find('.js-continent').text()) {
							return 1;
						}

						if ($(a).find('.js-continent').text() > $(b).find('.js-continent').text()) {
							return -1;
						}

						return 0;
					});
				}

				$('.js-countries').append(sorted);
			});

			//sort by world region
			$('.js-region-sort').click(function sortByContinent(){
				$(this).toggleClass('js-asc');

				if($(this).hasClass('js-asc')){
					var sorted = countries.sort(function (a, b) {
						if ($(a).find('.js-region').text() > $(b).find('.js-region').text()) {
							return 1;
						}

						if ($(a).find('.js-region').text() < $(b).find('.js-region').text()) {
							return -1;
						}

						return 0;
					});
				} else {
					var sorted = countries.sort(function (a, b) {
						if ($(a).find('.js-region').text() < $(b).find('.js-region').text()) {
							return 1;
						}

						if ($(a).find('.js-region').text() > $(b).find('.js-region').text()) {
							return -1;
						}

						return 0;
					});
				}

				$('.js-countries').append(sorted);
			});
		});
