extends ../layout

block content
	.media-bg-img.request-page-header
		h1= locationType

	.container
		.col-xs-12.col-sm-6.col-sm-push-3
			ul
				for location in locations
					li
						a(href='/'+locationType+'/'+location.name)= location.name
