extends ../layout.pug

block header

block content
	+splashPage(null, '15%')
		.container.pb-XXl--md
			h1.ta-C.pb-XXl--md.mt-0
				img.img-responsive(src='/images/logo.png', alt='stellaroute')

			.row
				.col-xs-12.col-sm-8.col-sm-push-2.col-md-6.col-md-push-3
					.content-card
						h2.content-card--header Log In
						form.modal-body.login(method='POST', action='/auth/local')
							input(type='hidden', name='_csrf', value= csrfToken)
							.col-xs-12
								a.btn.btn-lg.bg-Bl__fb.fc-W.mb-Sm(href="/auth/facebook") #[i.fa.fa-facebook-official.mr-Xs(aria-hidden='true')] Continue with Facebook
							.col-xs-12
								.text-wings.fc-G.mb-Sm
									hr
									span or
									hr

							.col-xs-12.mb-Sm
								label.input-label.w-100.p-R
									i.fa.fa-envelope.p-A.t-0.b-0.r-Md.d-F.fj-C.fd-C.fs-Lg(aria-hidden="true")
									input#Email.form-control.input-lg.mt-0(name='email', type='email', placeholder='Email Address')

							.col-xs-12.mb-Md
								label.input-label.w-100.p-R
									i.fa.fa-lock.p-A.t-0.b-0.r-Md.d-F.fj-C.fd-C.fs-Lg(aria-hidden="true")
									input#Passphrase.form-control.input-lg.mt-0(name='password', type='password', placeholder='Password')
								p.help-block.ta-R
									a.fs-12(href='/reset-password') Forgot Password
									| &nbsp;|&nbsp;
									a.fs-12(href='/sign-up') Sign Up

							.col-xs-12
								input.btn.btn-lg.bg-Gr.fc-G__ltst(type='submit', value='Log In')
	script.
		jQuery('#Email').focus();
block footer