nav.guide-nav(data-function='accordion, interiorNav', data-always-show-one='true', data-interior-nav-offset='60')
	- console.log(cards)
	for card, i in cards ? cards : []
		a(href='#', role='tab', aria-expanded='false', data-position= i)
			h3= card.section.title
		if card.subCards
			ul(role='tabpanel', aria-hidden='true')
				for subCard, j in card.subCards
					if subCard.style === 'sub' || subCard.style === 'big'
						li(class=`guide-nav--${subCard.style}`): a(href='#', data-position= `${i}.${j}`)= subCard.title