extends ../layout.pug

block content
	.guide
		include header.pug

		.container.guide--container
			#GuideCards.row.js-guide-body(duck-table= isMe && 'Guides', duck-function= isMe && 'update', duck-key= isMe && 'Id', duck-key-value= isMe && guide.Id)
				include body.pug

	script(type='text/javascript' src='/js/pages/guide/guide.min.js')