extends ../layout.pug

block content
	.guide
		include header.pug

		.container.guide--container
			.row.js-guide-body.m-0.m-NegSm--sm
				include body.pug

	script(type='text/javascript' src='/js/pages/guide/guide.min.js')