extends ../layout.pug

block content
	include header.pug


	if user && user.isAdmin
		+modal('EditAttractionForm')(class='modal-lg')
			+attractionForm('update', attraction)

	.container
		.row
			.col-xs-12.col-sm-6.col-md-8.f-R
				include overview.pug
				+factsHacks(false, attraction, 'Attractions')
				include ./cards/subAttractions.pug

			.col-xs-12.col-sm-6.col-md-4
				include ./cards/quickInfo.pug
				include ./cards/orientation.pug
				include ./cards/siblingAttractions.pug
				include ./cards/nearbyAttractions.pug
				+factsHacks(true, attraction, 'Attractions')