+formStart(neighborhood, 'Neighborhoods', (getNested(neighborhood, 'explore', 'map') || getNested(neighborhood, 'explore', 'areas', 0, 'name')))(class='content-card')
	h2.content-card--header.mb-0 Where to Explore
		+editButton('f-R mt-NegSm')
	+view
		if neighborhood.explore.map
			img.w-100(src=getImagePath(neighborhood.explore.map, 'large'), alt='Where to Explore')
		for area in getNested(neighborhood, 'explore', 'areas', 0, 'name') ? neighborhood.explore.areas : []
			h3= area.name
			!= area.description

			if area.suggestedSpots && area.suggestedSpots[0] && area.suggestedSpots[0].name
				h4 Suggested Spots
				ul
					for spot in area.suggestedSpots
						li
							if spot.link
								a(href= spot.link, target='blank')= spot.name
							else
								= spot.name
	+edit
		+object('explore')
			+image(neighborhood.explore, 'map', 'Map')
			+array(null, 'areas', 'Areas', 'Add Area')
				for area in getNested(neighborhood, 'explore', 'areas') ? neighborhood.explore.areas : [{}]
					+object(null, 'Area', 'Delete Area')
						+string(area, 'name', 'Name / Location / Cross Street')
						+wysiwyg(area, 'description', 'Description')
						+array(area, 'suggestedSpots', 'Suggested Spots', 'Add Suggested Spot', true)
							for spot in area.suggestedSpots ? area.suggestedSpots : [{}]
								+object(null, 'Suggested Spot', 'Delete Suggested Spot')
									+string(spot, 'name', 'Name')
									+string(spot, 'link', 'Link')
									+select(spot, 'type', 'Type', suggestedSpotTypes)