mixin factsHacks(isFact, location, locationTable)
	- const factOrHack = isFact ? 'quickFacts' : 'needToKnow';

	+formStart(location, locationTable, wysiwygHasData(getNested(location, factOrHack, 0, 'description')))(class='content-card')
		h2.content-card--header= isFact ? 'Quick Facts' : 'Travel Hacks'
			+editButton('f-R mt-NegSm')
		+view
			+accordion(location[factOrHack])(class='row', data-allow-multiple='true')
		+edit
			+array(null, factOrHack, `Add ${isFact ? 'Fact' : 'Hack'}`)
				for fact in getNested(location, factOrHack) ? location[factOrHack] : [{}]
					+object(null, `Delete ${isFact ? 'Fact' : 'Hack'}`)(class='p-Md bg-G__ltr mb-Sm')
						h3.mt-0= isFact ? 'Fact' : 'Hack'

						+string(fact, 'title', 'Title')
						+wysiwyg(fact, 'description', isFact ? 'Fact' : 'Hack')