mixin infoCard(obj, table, field, title)
	+formStart(obj, table, wysiwygHasData(getNested(obj, field).description))(class='content-card')
		h2.content-card--header= title
			+editButton('f-R mt-NegSm')

		+view
			img.f-L.w-25(src=getImagePath(getNested(obj, field, 'image'), 'medium'), alt= title)
			.w-75.f-L.pl-Sm!= getNested(obj, field, 'description')
		+edit
			+object(field)
				+image(obj[field], 'image', 'Image')
				+wysiwyg(obj[field], 'description', `What to Know About ${title}`)