- let nearbyScriptLoaded = false;

+formStart(neighborhood, 'Neighborhoods', getNested(neighborhood, 'nearbyNeighborhoods').length)(class='js-nearby')
	h2.fc-G Nearby Neighborhoods
		+editButton('f-R mt-NegSm')
	+view
		.masonry.masonry-grid-1(class= nearbyNeighborhoods.length > 1 ? '.masonry-grid-2--sm' : '')
			for nearbyNeighborhood in nearbyNeighborhoods
				a.masonry--item(href=`/${country.url}/${city.url}/${nearbyNeighborhood.url}`)
					+card(nearbyNeighborhood.cardImage, nearbyNeighborhood.names.display, null, null, nearbyNeighborhood.description)
	+edit
		+array(neighborhood, 'nearbyNeighborhoods', null, 'Add Nearby Neighborhood')

if !nearbyScriptLoaded
	script(src='/js/controls/nearby.min.js', type='text/javascript')
	- nearbyScriptLoaded = true;