extends layout.pug

block content
	.media-bg-img.request-page-header
		.container
			.row
				.col-xs-12.col-sm-8.col-sm-push-2
					h1 About Us

	.container.p-Md
		.row
			.col-xs-12.col-sm-8.col-sm-push-2.form-group
				.content-card
					p.lead Stellaroute is an early stage startup committed to giving travelers the information and tools they need to make every trip their dream trip. We're travel junkies passionate about exploring the world and we want to share our passion with fellow travelers. Our goal is to help people make the most out of their trip, no matter where they want to go or what they want to do and see.