extends layout.pug

block content
	.media-bg-img.request-page-header
		.container
			h1 Control Panel
	.container
		.row
			.col-xs-12.col-sm-6
				+contentCard('Tools')
					button#ClearCache.btn-primary Clear Cache
		h2.fc-G Update Users
		.row
			ul#UserList.p-0
				for user, i in users.sort((a, b) => {if(a.isAdmin){return -1;} return 1;})
					-var isAlt = i % 2 == 0 ? '' : 'bg-G__ltr'

					li.col-xs-12.col-sm-6.col-md-4.col-lg-3.ls-N
						+contentCard()
							h3.content-card--header= user.name ? `${user.name.first} ${user.name.last}` : 'N/A'
								button.btn-warning.f-R.mt-NegSm.mr-NegSm.js-password-reset(type='button') Reset Password
							strong Email:&nbsp;
							span.js-user-email= user.local ? user.local.email : 'N/A'


							.mt-Md(duck-function='update', duck-key-value= user['Id'])
								.checkbox.d-Ib(duck-field='isAdmin', duck-type='bool')
									label
										input(type='checkbox', duck-value, checked= user.isAdmin, value='true')
										| Administrator

								button.btn-primary.f-R(type='button', duck-button='submit') Save
									i.fa.fa-spinner.fa-spin.ml-Xs.hidden(aria-hidden='true')
	//
		reset password []
		make user a member []
		make user an admin [x]
		clear cache [x]
			[x] 0. Add st louis to coming soon
		[x] 1. not logged in mobile menu
		[x] 2. send bulk emails
		[] 3. update bulk accounts
			[] 3-a. clean up and refactor update
			[] 3-b. make update accept an array
		[x] 4. password reset
		[x] 5. sign up
		[] 6. clean up atomic styles/create classes for repeating segmants
		[] 7. create difference between prod and dev environments/databases
		[x] 8. make sure all breadcrumbs are clickable
		[] 9. when a user logs in, redirect them to the page they came from

	script(src='js/pages/admin.min.js')