extends layout.pug

block content
	.media-bg-img.request-page-header
		h1 Explore

	.container
		//.col-xs-12.col-sm-6.col-sm-push-3
			.content-card
				ul.m-0
					for continent in continents
						li
							a(href=`/${continent.url}`)= continent.names.display


		.mlr-A(style='max-width: 1025px')
			#ExploreMap(style='height: 80vh; max-height: 700px;')
	script.
		var myGeoJSONPath = 'maps/continents.json';
		var myCustomStyle = {
			stroke: false,
			fill: true,
			fillColor: '#fff',
			fillOpacity: 1
		};

		jQuery.getJSON(myGeoJSONPath, {format: "json"}).done(function(data){
			var map = L.map('ExploreMap', {zoomControl: false}).setView([45, 0], 2);

			var geoContinents = L.geoJson(data, {
				clickable: false,
				style: myCustomStyle
			}).addTo(map);

			var chicagoIcon = L.icon({
				iconUrl: '/images/chicago-pin.png',
				iconSize: [64, 64],
				iconAnchor: [32, 64]
			})

			var chicagoMarker = L.marker([41.8781, -87.6298], {icon: chicagoIcon, title: 'Chicago'});
			
			chicagoMarker.on('click', function(){
				window.location.href= 'united-states-of-america/chicago'
			});

			chicagoMarker.addTo(map);


			geoContinents.eachLayer(function(layer){
				layer.on('click', function(){
					window.location.href = layer.feature.properties.name.toLowerCase().replace(' ', '-')
					//alert()
				})
			})
		}).fail(function(d, textStatus, err){console.error(err)})



		/*var exploreMap = L.map('ExploreMap', {zoomControl: false}).setView([40, 0], 10);

		
		var southWest = L.latLng(1, 1),
			northEast = L.latLng(-1, -1),
			bounds = L.latLngBounds(southWest, northEast);

		//map.fitBounds(bounds);

		L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
				attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
				//maxZoom: 10,
				//minZoom: 10,
				maxBounds: [[1, -1],[-1, 1]],
				id: 'stellaroute.1oab552k',
				accessToken: 'pk.eyJ1Ijoic3RlbGxhcm91dGUiLCJhIjoiY2l1b3RmbnhxMDFyMjMwbWxtbG52cGRxcCJ9.3VXcYkMnZneVM-YIlJCUUg'
			}).addTo(exploreMap);

		var NA = L.polygon([
			[70, -172],
			[70, -125],
			[83, -90],
			[83, -10],
			[70, -15],
			[20, -100]
		], {fillColor: '#fff'}).addTo(exploreMap);

		NA.on('click', function(){ alert('it worked!')});

		var chicago = L.icon({
			iconUrl: 'http://lh3.ggpht.com/-9EO88zpgcS0/USA_ZPYWBII/AAAAAAAABes/7V4raq71gxE/s64-c/chicago_lake_skyline.jpg',
			iconSize: [64, 64],
			iconAnchor: [32, 64]
		})

		//chicago.on('click', function(){ alert('other thing!') })

		L.marker([41.8781, -87.6298], {icon: chicago}).addTo(exploreMap); */

		//http://leafletjs.com/reference-1.0.0.html