extends layout.pug

append options
	- headerBackground = 'none';
	- logoColor = 'white';
	- headerClasses = 'home-page-header';
	- showHeaderSearch = false;

block content
	.pt-Xl(style='background: #ccc url("../images/splashpage-japan-path-image.jpg") no-repeat scroll top center / 100%')
		.container.ta-C.mt-Xl--sm
			.row.js-search-bar-z-index.p-R
				.col-xs-12.col-sm-8.col-sm-push-2.col-lg-6.col-lg-push-3
					h1.d-F.fai-C.fj-C.fw-N.fs-32.fs-64--sm.mt-Lg.hidden-xs
						//img.img-responsive.w-6(src='/images/plain_logo_white.svg', alt='stellaroute')
						span.d-Ib.plr-Sm stellaroute
						small.pt-Sm Plan Spontaneity
				.col-xs-12
					p.lead.ta-C.fc-W.mt-Md--sm Save money and time by using our guides created by people all around the world. #[br] Or create your own guides and share them with the world.

				.col-xs-12.col-sm-8.col-sm-push-2.col-lg-6.col-lg-push-3
					include controls/searchBar.pug


			.mt-Md.mt-Xl--sm.p-Md--sm
				h2.ta-L.fc-W.mb-Lg.bw-0.bbw-Sm.bs-S.bc-W Featured Guides
				if guides && guides.length
					.masonry.masonry-grid-1.masonry-grid-3--md.masonry-grid-4--lg
						for guide in guides
							.masonry--item
								+guideCard(guide, true)
					.ta-R
						a.btn.btn-secondary(href='/search') View All Guides #[i.fa.fa-chevron-right(aria-hidden='true')]
				else
					p.lead Sorry, we are in the middle of an update, this should be fixed shortly.
