extends layout

block header
	if (!user)
		header.landing-header
			.landing-utility
				img(src='/images/logo.png', alt='Stellaroute')
				include controls/login
			h1.mt-Xl.mb-Lg.ta-C
				| Plan Spontaneity
				small.d-B.mt-Sm.fc-W
					| Join the Beta in 
					span.d-B.d-I--sm January, 2017

			.row.p-A.l-0.r-0.plr-Md
				.col-xs-12.col-sm-8.col-sm-push-2.col-md-6.col-md-push-3
					include controls/beta-signup
	else
		header.site-header.z-1.plr-Md
			.row.pt-Md
				.col-xs-6.col-sm-3
					a.d-B.w-50--sm(href='/')
						img.img-responsive(src='/images/logo_white.svg', alt='Stellaroute')
				.col-sm-6.hidden-xs
					ul.list-inline.ta-C
						li.plr-Sm
							a.fc-W(href='/profile') Guides
						li.plr-Sm
							a.fc-W(href='/request') Continents
						li.plr-Sm
							a.fc-W(href='/feedback') Countries
						li.plr-Sm
							a.fc-W(href='/feedback') Cities
				.col-xs-6.col-sm-3.ta-R.hidden-xs
					include controls/login

				button.hamburger-menu--toggle.pt-0.mt-0
					i.fa.fa-ellipsis-v(aria-hidden='true')
				nav.hamburger-menu.z-1
					button.exit-icon
						i.fa.fa-times(aria-hidden='true')
					ul.hamburger-menu--options
						li
							a(href='/profile') My Accounts
						li
							a(href='/request') Make A Request
						li
							a(href='/feedback') Give Us Feedback
						li
							button.btn.log-out(type='button') Log Out
										

block content
	if (!user)
		.visible-xs
			section.page-card.introduction
				h2 What is Stellaroute?
				p.lead Stellaroute is a new way to go plan trips so you can get the most out of your travels.

			section.page-card.location-overviews
				h2 Location Overviews
				p Know the critical information about where you're going without hours of reseach

			section.page-card.attraction-listings
				h2 Attraction Listings
				p Find the must see attractions and the hidden gems all in one place

			section.page-card.neighborhood-descriptions
				h2 Neighborhood Descriptions
				p Understand a destination before you get there and find your crowd

			section.page-card.custom-guides
				h2 Custom Guides
				p Plan painlessly by using one of our expert guides or quickly make your own

			section.page-card.advice-ratings
				h2 Advice &amp; Ratings
				p Get quality advice and descriptive ratings from peers and experts

		.hidden-xs
			.row
				.col-sm-4.ta-C.mb-Sm
					h2 Custom Guides
					p.lead.custom-guides-text Plan painlessly by using one of our expert guides or quickly make your own.

					.screen-shot-black-phone
						img(src="/images/screenshot-guide.jpg")

				.col-sm-4
					.screen-shot-white-phone
						.screenshot-rotator
							img.active(src="/images/screenshot-overview.jpg", alt="placeholder")
							img.after(src="/images/screenshot-attractions.jpg", alt="placeholder")
							img.before(src="/images/screenshot-neighborhoods.jpg", alt="placeholder")
				
				.col-sm-4.text-center
					h2 Meaningful Ratings
					p.lead Make the most of your vacation by making informed decisions based on your interests.

					.screen-shot-black-phone
						img(src="/images/screenshot-ratings.jpg")

		script(type='text/javascript', src='js/pages/landingPage.min.js')
	else
		.media-bg-img.home-bg-img
			

			.container.d-F.fd-C.fj-C.p-A.t-0.b-0.l-0.r-0
				.row.plr-Sm
					h1.mt-0.mb-Md.ta-C Plan Spontaneity
					.col-xs-12.col-md-6.col-md-push-3
						.input-group
							input.form-control(type='text', placeholder='Where do you want to go?')
							.input-group-btn
								button.btn.btn-primary(type='submit')
									span.hidden-Xs Search
									span.visible-Xs
										i.fa.fa-search(aria-hidden="true")
						.text-wings.fc-W.mtb-Lg
							hr
							span or
							hr

						.row
							.col-xs-6.ta-C.fs-Lg
								a.fc-W(href="#")
									i.fa.fa-location-arrow(aria-hidden="true")
									| &nbsp; Explore
							.col-xs-6.ta-C.fs-Lg
								button.fc-W.bg-N.bw-N(href="#")
									i.fa.fa-plus(aria-hidden="true")
									| &nbsp; Request

								


block footer
	if (!user)
		footer.bg-Purp.p-Xs.fc-W.ta-C
			small 
				| Copyright &copy; 2016 Bagus Tech LLC. 
				span All rights reserved



	//.row
		.col-sm-3.col-sm-push-3.col-xs-12
			p
				a(href='/continents').btn.btn-primary.btn-block.btn-lg Continent
		.col-sm-3.col-sm-push-3.col-xs-12
			p
				a(href='/world-regions').btn.btn-primary.btn-block.btn-lg World Region
	//.row
		.col-sm-3.col-sm-push-3.col-xs-12
			p
				a(href='/countries').btn.btn-primary.btn-block.btn-lg Country
		.col-sm-3.col-sm-push-3.col-xs-12
			p
				a(href='/attractions').btn.btn-primary.btn-block.btn-lg Attraction