extends layout.pug

append options
	- headerBackground = 'none';
	- logoColor = 'white';
	- headerClasses = 'p-A pt-Sm';
	- showHeaderSearch = false;

block header
	if (!user)
		header.landing-header
			.landing-utility
				img(src='/images/logo.png', alt='Stellaroute')
				include controls/login.pug
			h1.mt-Xl.mb-Lg.ta-C
				| Plan Spontaneity
				small.d-B.mt-Sm.fc-W
					| Join the Beta in 
					span.d-B.d-I--sm January, 2017

			.row
				.col-xs-12.col-sm-8.col-sm-push-2.col-md-6.col-md-push-3
					include controls/beta-signup.pug
	else
		include controls/header.pug

block content
	if (!user)
		.bg-W
			.container.p-Md.pb-0
				.visible-xs
					section.page-card.introduction
						h2 What is Stellaroute?
						p.lead Stellaroute is a new way to go plan trips so you can get the most out of your travels.

					section.page-card.location-overviews
						h2 Location Overviews
						p Know the critical information about where you're going without hours of research

					section.page-card.attraction-listings
						h2 Attraction Listings
						p Find the must see attractions and the hidden gems all in one place

					section.page-card.neighborhood-descriptions
						h2 Neighborhood Descriptions
						p Understand a destination before you get there and find your crowd

					section.page-card.custom-guides
						h2 Custom Guides
						p Plan painlessly by using one of our expert guides or quickly make your own

					section.page-card.advice-ratings
						h2 Advice &amp; Ratings
						p Get quality advice and descriptive ratings from peers and experts

				.hidden-xs
					.row
						.col-sm-4.ta-C.mb-Sm
							h2 Custom Guides
							p.lead.fs-Lg Plan painlessly by using one of our expert guides or quickly make your own.

							.screen-shot-black-phone
								img(src="/images/screenshot-guide.jpg")

						.col-sm-4
							.screen-shot-white-phone
								.screenshot-rotator(data-function='banner')
									img(src="/images/screenshot-overview.jpg", alt="placeholder", data-banner-item)
									img(src="/images/screenshot-attractions.jpg", alt="placeholder", data-banner-item)
									img(src="/images/screenshot-neighborhoods.jpg", alt="placeholder", data-banner-item)
						
						.col-sm-4.text-center
							h2 Meaningful Ratings
							p.lead.fs-Lg Make the most of your vacation by making informed decisions based on your interests.

							.screen-shot-black-phone
								img(src="/images/screenshot-ratings.jpg")
	else
		.media-bg-img.home-bg-img.pt-Xl
			.container.ptb-Xl.plr-Lg
				.row
					.col-xs-12
						h1.mt-0.mb-Md.ta-C
							span.fs-Xl--sm stellaroute
							br
							small.tt-U.fs-32--sm Plan Spontaneity

						p.lead.ta-J.mlr-A.w-60--sm.fc-W Welcome to our Beta. We’re excited to help travelers experience their world, their way. We’d love to hear about where you want to go next and how you like to travel.
		.bg-W
			.container

				h2.fc-G Locations
				.masonry.masonry-grid-1.masonry-grid-2--sm.masonry-grid-4--md
					for location in approvedLocations
						a.masonry--item(href=`/${location.countryUrl}/${location.url}`)
							+card(location.cardImage, location.names.display)

					.masonry--item(data-toggle='modal', data-target='#RequestLocation')
						.card
							.ta-C.fc-Purp(style='padding: 30% 0 ; font-size: 60px;')
								i.fa.fa-plus(aria-hidden='true')
								.sr-only Request

							h3.card--title Request a Location

				include controls/requestLocation.pug

				script(type='text/javascript', src='/js/controls/betaSignup.min.js')

				hr.mb-Lg

				h2.fc-G Coming Soon
				.masonry.masonry-grid-1.masonry-grid-2--sm.masonry-grid-4--md
					.masonry--item
						+card('http://az616578.vo.msecnd.net/files/2016/04/27/635973353399336445-1421152854_NYC-1.jpg', 'New York')
					.masonry--item
						+card('http://cdn.ek.aero/english/images/London-1_tcm233-2111842.jpg', 'London')
					.masonry--item
						+card('http://www.accessmba.com/uploads/tx_templavoila/Amsterdam.jpg', 'Amsterdam')
					.masonry--item
						+card('http://cdn.boulevards.com/imgs/efm-hotel-billboard-washingtondc.com.jpg', 'Washington, D.C.')

				hr.mb-Lg

				h2.fc-G Upcoming Features
				ul.fs-Xl.mt-Sm.mb-XXl
					li Export to PDF
					li Create &amp; Edit Personalized Guides
					li Forums
					li Rate Attractions
					li Interactive Map
					li Upload Pictures
					
				//.row
					h1.mt-0.mb-Md.ta-C Plan Spontaneity
					.col-xs-12.col-md-6.col-md-push-3
						.input-group
							input.form-control.p-S(type='text', placeholder='Where do you want to go?')
							.input-group-btn
								button.btn.btn-primary.p-S(type='submit')
									span.hidden-Xs Search
									span.visible-Xs
										i.fa.fa-search(aria-hidden="true")
						.text-wings.fc-W.mtb-Lg
							hr
							span or
							hr

						a.btn.btn-primary.btn-lg.fs-Lg(href="/explore", data-icon='fa fa-location-arrow') &nbsp;Explore

block footer
	if (!user)
		footer.bg-Purp.p-Xs.fc-W.ta-C
			small 
				| Copyright &copy; 2016 Bagus Tech LLC. 
				span All rights reserved