doctype html

html(lang='en')
	head
		include controls/common-resources.pug
		block head

	// include all mixins
	include mixins/_mixins.pug

	body.loading#Stellaroute
		if env === 'production'
			script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
			script.
				(adsbygoogle = window.adsbygoogle || []).push({
					google_ad_client: "ca-pub-5229644281598502",
					enable_page_level_ads: true
				});

			// init facebook sdk
			#fb-root
			script.
				(function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) return;
					js = d.createElement(s); js.id = id;
					js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=1300718466632690";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));

		block options
			- var logoColor = 'purple';
			- var headerBackground = 'white'
			- var showHeaderSearch = true;
			- var loginScriptLoaded = false;

		noscript
			iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-NG3DCTG", height="0", width="0", style="display:none;visibility:hidden")

		header.site-header
			block header
				include controls/header.pug
			
		main.site-body
			include controls/flash.pug
			block content

		block footer
			include controls/footer.pug