doctype html

html(lang='en')
	head
		include controls/common-resources.pug
		block head

	body.loading#Stellaroute
		if env === 'production'
			script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
			script.
				(adsbygoogle = window.adsbygoogle || []).push({
					google_ad_client: "ca-pub-5229644281598502",
					enable_page_level_ads: true
				});

		// include all mixins
		include mixins/_mixins.pug

		block options
			- var logoColor = 'purple';
			- var headerBackground = 'white'
			- var showHeaderSearch = true;
			- var loginScriptLoaded = false;

		noscript
			iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-NG3DCTG", height="0", width="0", style="display:none;visibility:hidden")

		header.site-header
			block header
				include controls/header.pug
			
		main.site-body
			include controls/flash.pug
			block content

		block footer
			include controls/footer.pug