extends layout

block content
	section.request-page
		header.request-page-header
			h1 Help Us Map the World

		.container
			.row
				.col-xs-12.col-sm-8.col-sm-push-2.form-group
					p.lead If you don’t see a <strong>location</strong>, <strong>attraction</strong>, or <strong>guide</strong> that you think we should have, let us know what we’re missing so we can help travelers like you.
					label Location, Attraction or Guide?
					select#SelectRequestForm.form-control
						option(value="location") Location
						option(value="attraction") Attraction
						option(value="guide") Guide
			form.js-request-form.request-location
				.row
					.col-xs-12.col-sm-8.col-sm-push-2.form-group
						label What's the name of the location?
						input.form-control.short-statement(type="text", name="location", placeholder="Japan")
					.col-xs-12.col-sm-8.col-sm-push-2.form-group
						label 
							| What about this location makes it interesting?
							small (optional)
						textarea.form-control(placeholder="I want to try the food")
					.col-xs-12.col-sm-8.col-sm-push-2
						button.btn-primary.btn-block(type='button') Send Request
			form.js-request-form.request-attraction.hidden
				.row
					.col-xs-12.col-sm-8.col-sm-push-2.form-group
						label What's the name of the attraction?
						input.form-control.short-statement(type="text", name="attraction", placeholder="Taj Mahal")
					.col-xs-12.col-sm-8.col-sm-push-2.form-group
						label Where is this attraction located?
						input.form-control.short-statement(type="text", name="location", placeholder="Agra, India")
					.col-xs-12.col-sm-8.col-sm-push-2.form-group
						label 
							| What about this attraction makes it interesting?
							small (optional)
						textarea.form-control(placeholder="I've always wanted to go there")
					.col-xs-12.col-sm-8.col-sm-push-2
						button.btn-primary.btn-block(type='button') Send Request
			form.js-request-form.request-guide.hidden
				.row
					.col-xs-12.col-sm-8.col-sm-push-2.form-group
						label Where do you want to go for this guide?
						input.form-control.short-statement(type="text", name="guide", placeholder="Southeast Asia")
					.col-xs-12.col-sm-8.col-sm-push-2.form-group
						label 
							| Is there anything specific you want us to include in this guide?
							small (optional)
						textarea.form-control(placeholder="Angkor Wat")
					.col-xs-12.col-sm-8.col-sm-push-2
						button.btn-primary.btn-block(type='button') Send Request

	script(src='/js/pages/request.min.js')