extends layout.pug

append header
	#RequestFlash(style='display: none;')
		.p-A.t-Md.r-Md
			p.alert.alert-success Email Successfully Sent.

block content
	.sub-header(style=`background: rgba(0, 0, 0, 0) url("images/request_header_image.jpg") no-repeat scroll center 57% / cover;`)
			.container
				.col-xs-12.col-sm-8.col-sm-push-2.col-md-6.col-md-push-3
					h1.ptb-Md.ptb-Lg--sm.ptb-Xl--md Reset Password
	.container
		.col-xs-12.col-sm-8.col-sm-push-2.col-md-6.col-md-push-3
			+contentCard('Reset Password')
				p.lead Please Enter your account email below and click on the button. We will send you an email with a new temporary password to login, then you can go to your profile and set it to whatever you would like.

				form#ResetPasswordForm.form-group
					.input-group
						input#ResetPasswordEmail.form-control(type='email', placeholder='Email')
						.input-group-btn
							button#ResetPasswordSubmit.btn-primary Reset Password#[i.fa.fa-spinner.fa-spin.ml-Xs.hidden(aria-hidden='true')]

	script(src='js/pages/resetPassword/resetPassword.min.js')