extends layout.pug

block content
	.ptb-Xl(style='background: #ccc url("../images/splashpage-japan-path-image.jpg") no-repeat scroll top center / 100%')
		.container.ta-C
			.row.p-R.js-search-bar-z-index
				.col-xs-12.col-sm-8.col-sm-push-2.col-lg-6.col-lg-push-3
					h1.fw-N.fs-32.fs-64--sm.mt-Lg.hidden-xs
						span.d-b.plr-Sm Find the Right Guide
						small.pt-Sm.d-B Plan Spontaneity
	
	.container
		.p-Md--sm
			if guides && guides.length
				.row
					.col-xs-12.col-sm-4.col-md-3.col-lg-2.stickey(data-function='filter')
						.visible-xs
							button.btn.btn-default.w-100(data-function='toggle', data-target='#GuideFilter') Filters
						#GuideFilter.hidden-xs.bg-Ltst.w-A.p-Sm(data-toggle='hidden-xs')
							if countries && countries.length
								div(data-filter-section='country')
									h2.mt-0.pt-Sm Country
									for country in countries
										.checkbox
											label
												input(type='checkbox', value= country, checked= country === term || country === originalTerm)
												span= country
							if tags && tags.length
								div(data-filter-section='tags')
									h2.mt-0.pt-Sm Tag
									for tag in tags
										.checkbox
											label
												input(type='checkbox', value= tag, checked= tag === term || tag === originalTerm)
												span= tag

					.col-xs-12.col-sm-8.col-md-9.col-lg-10
						.mb-Md
							include controls/searchBar.pug
							.ta-R= `${guides.length} ${guides.length > 1 ? 'results' : 'result'}`
						.masonry.masonry-grid-1.masonry-grid-2--md.masonry-grid-3--lg
							for guide in guides
								.masonry--item(data-filter-country= guide.countriesDisplay && guide.countriesDisplay.join('|') || 'Unknown', data-filter-tags= guide.tags && guide.tags.join('|') || 'Unknown')
									+guideCard(guide, true)
			else
				.mb-Md
					include controls/searchBar.pug

				p.lead Sorry, there were 0 results, please try a different search
