extends layout.pug

block content
	div(style='background: #ccc url("../images/uyuni-peoplereflection--banner.jpg") no-repeat scroll center center / cover')
		.ptb--Lg.ptb-Xl--sm.bg-Dk
			.container.ta-C
				h1.fw-N.fs-32.fs-64--sm.mb-Md.mb-Sm--sm.mt-Lg--sm
					span.d-b.plr-Sm Find Your Inspiration
					//small.pt-Sm.d-B Plan Spontaneity
	
	.container
		.p-Md--sm
			if guides && guides.length
				.row
					.col-xs-12.col-sm-4.col-md-3.col-lg-2.sticky.mb-Sm(data-function='filter', style='z-index: 3;')
						div(style='margin: 0 -1px;')
							.visible-xs
								button.btn.btn-secondary.w-100.js-sticky-content-trigger(data-function='toggle', data-target='#GuideFilter') Filters
							#GuideFilter.js-sticky-content.bg-G__ltst.bg-Ltst--sm.hidden-xs.bw-Sm.btw-0.bs-S.bc-G__dkst.bw-0--sm(data-toggle='hidden-xs')
								.p-Sm
									if countries && countries.length
						
										div(data-filter-section='country', data-function='accordion')
											h2.mt-0.pt-Sm(role='tab', aria-expanded='true', data-function='toggle', data-event='tab-change', data-target='this i') #[i.fa.fa-chevron-down.fs-18(aria-hidden='true', data-toggle='rotate-Neg90')] Country
											div(role='tabpanel', aria-hidden='false')
												for country in countries
													.checkbox.pt-Xs
														label
															input.t-Xs(type='checkbox', value= country, checked= country === term || country === originalTerm, disabled = countries.length === 1)
															span= country
									if tags && tags.length
										div(data-filter-section='tags', data-function='accordion')
											h2.mt-0.pt-Sm(role='tab', aria-expanded='false', data-function='toggle', data-event='tab-change', data-target='this i') #[i.fa.fa-chevron-down.fs-18.rotate-Neg90(aria-hidden='true', data-toggle='rotate-Neg90')] Tag
											div(role='tabpanel', aria-hidden='true')
												for tag in tags
													.checkbox.pt-Xs
														label
															input.t-Xs(type='checkbox', value= tag, checked= tag === term || tag === originalTerm)
															span= tag

					.col-xs-12.col-sm-8.col-md-9.col-lg-10
						.p-R.mb-Md.js-search-bar-z-index
							include controls/searchBar.pug
							.ta-R= `${guides.length} ${guides.length > 1 ? 'results' : 'result'}`
						.masonry.masonry-grid-1.masonry-grid-2--md.masonry-grid-3--lg
							for guide in guides
								.masonry--item(data-filter-country= guide.countriesDisplay && guide.countriesDisplay.join('|') || 'Unknown', data-filter-tags= guide.tags && guide.tags.join('|') || 'Unknown')
									+guideCard(guide, true)
			else
				.mb-Md
					include controls/searchBar.pug

				p.lead Sorry, there were 0 results, please try a different search
