extends ../layout

block content
	h2 World Regions

	.row
		.col-sm-3.col-xs-6
			strong Name
		.col-sm-9.col-xs-6
			strong Continent(s)


	for region in worldRegions
		.row
			.col-sm-3.col-xs-6
				a(href='/world-regions/' + region.name)= region.name
			.col-sm-9.col-xs-6= region.continent.join(', ')


	p.text-right
		a.btn.btn-primary.btn-lg(href='/world-regions/new') New