extends ../../layout

block content
	.media-bg-img.request-page-header
		h1 Continents

	.container
		.col-xs-12.col-sm-6.col-sm-push-3
			.content-card
				ul.m-0
					for continent in continents
						li
							a(href=`/${continent.name.replace(/ /g, '-').toLowerCase()}`)= continent.name