extends ../layout

block content
	h1 Add a new Country

	form(method='POST', action='/countries/new')
		fieldset
			legend Country

			.row
				.col-sm-6.col-xs-12
					.form-group
						label(for='CountryName') Name
						input.form-control#CountryName(name='name', type='text', placeholder='America', required)
			.row
				.col-sm-6.col-xs-12
					.form-group
						label(for='CountryOfficialName') Official Name
						input.form-control#CountryOfficialName(name='names.official', type='text', placeholder='Federal Republic of Germany', required)
			.row
				.col-sm-6.col-xs-12
					.form-group
						label(for='CountryNativeName') Native Name
						input.form-control#CountryNativeName(name='names.native', type='text', placeholder='Deutschland', required)
			.row
				.col-sm-2.col-xs-4
					.form-group
						label(for='CountryAbbreviation') Abbreviation
						input.form-control#CountryAbbreviation(name='abbreviation', type='text', placeholder='US', maxlength='2', required)
				.col-sm-4.col-xs-8
					.form-group
						label(for='CountryAlias') Alias
						input.form-control#CountryAlias(name='alias', type='text', placeholder='US, U.S.A., America')

			.row
				.col-sm-6.col-xs-12
					.form-group
						label(for='CountryContinet') Continent(s) it resides in 
						select.form-control#CountryContinent(name='continent',  multiple='true', required)
							-for (i in continents)
								option(value= continents[i].Id)= continents[i].name
			.row
				.col-sm-6.col-xs-12
					.form-group
						label(for='WorldRegions') World Region(s) it resides in 
						select.form-control#WorldRegions(name='worldRegions',  multiple='true', required)
							-for (i in worldRegions)
								option(value= worldRegions[i].Id)= worldRegions[i].name
			// not sure if we need
				.row
					.col-sm-6.col-xs-12
						.form-group
							label(for='CountryRegions') Regions of the Country
							textarea.form-control#CountryRegions(name='countryRegions', placeholder='Put each region on a new line', required)

			.form-group.text-right
				input.btn.btn-primary(type='submit', value='submit')