include ../locations/cards/factsHacks.pug
include ../locations/cards/infoCard.pug
include ../locations/cards/locationBanner.pug
include duck/_duck.pug
include forms/_forms.pug
include ad.pug
include accordion.pug
include card.pug
include emailCapture.pug
include modal.pug
include splash-page.pug
include favorite.pug