include ../locations/cards/factsHacks.pug
include ../locations/cards/infoCard.pug
include ../locations/cards/locationBanner.pug
include forms/_forms.pug
include accordion.pug
include card.pug
include modal.pug
include splash-page.pug
include duck/_duck.pug
include ../controls/mixins/_mixins.pug