mixin ad()
	if env === 'production'
		ins.adsbygoogle(style="display:block", data-ad-client="ca-pub-5229644281598502", data-ad-slot="2743856074", data-ad-format="auto")
	else
		.p-Sm.bg-Purp.fc-W.fw-B.fs-24.ta-C Ad Goes Here!