if userIsAuthorized()
	div(duck-table='Attractions', duck-function='update', duck-key='Id', duck-key-value= attraction.Id, duck-edit-form='view')
		.content-card
			h2.content-card--header Fun Facts
				button.btn.btn-edit.f-R.mt-NegSm(duck-button='edit', data-icon='fa fa-pencil')

			.duck-edit-hidden
				+accordion(attraction.quickFacts)(class='row', data-allow-multiple='true')
			.duck-view-hidden
				div(duck-field='quickFacts', duck-type='array')
					for advice in attraction && attraction.quickFacts ? attraction.quickFacts : [{}]
						.ptb-Sm.bg-G__ltr.clear(duck-type='object')
								.form-group.col-xs-10(duck-field='title', duck-type='string')
									label Title
										input.form-control(type='text', duck-value, value= advice.title)
								.form-group.col-xs-12(duck-field='description', duck-type='wysiwyg')
									label Description
									.summernote!= advice.description
								.col-xs-12.ta-C
									button.btn.btn-danger.mt-NegLg(duck-button='delete') Delete Fact
					.ta-R
						button.btn.btn-primary(duck-button='add') Add Fact

				button.btn.btn-primary(duck-button='submit') Save
				button.btn.btn-warning(duck-button='cancel') Cancel

else if attraction.quickFacts && attraction.quickFacts[0] && wysiwygHasData(attraction.quickFacts[0].description)
	+contentCard('Fun Facts')
		+accordion(attraction.quickFacts)(class='row', data-allow-multiple='true')