+formStart(attraction, 'Attractions', (attraction.orientation.map || wysiwygHasData(getNested(attraction, 'orientation', 'gettingThere')) || wysiwygHasData(getNested(attraction, 'orientation', 'gettingThere'))))(class='content-card')
	h2.content-card--header Orientation
		+editButton()(class='f-R mt-NegSm')

	+view
		if wysiwygHasData(attraction.orientation.description)
			div!= attraction.orientation.description
		
		if attraction.orientation.map
			button.bg-N.bw-0.p-0(type='button', data-toggle='modal', data-target='#MapModal', tab-index='1')
				img.w-100(src= getImagePath(attraction.orientation.map, 'medium'))

		if wysiwygHasData(attraction.orientation.gettingThere)
			.clear
				h3.mt-Md.pl-XXs.f-L.fs-16.lh-B(data-icon='fa fa-subway')
					span.sr-only Getting There

				.ml-Lg.mt-Md!= attraction.orientation.gettingThere

	+edit
		+object('orientation')
			+wysiwyg(attraction && attraction.orientation, 'description', 'Description')
			+image(attraction && attraction.orientation, 'map', 'Map')
			+wysiwyg(attraction && attraction.orientation, 'gettingThere', 'Getting There')

if getNested(attraction, 'orientation', 'map')
	+modal('MapModal')
		.ta-C(style='overflow-x: scroll;')
			img(src=getImagePath(attraction.orientation.map, 'large'))
		a.btn.btn-default(data-dismiss='modal') Close