+formStart(attraction, 'Attractions', (wysiwygHasData(attraction.price) || wysiwygHasData(attraction.hours) || wysiwygHasData(attraction.address)))(class='content-card')
	h2.content-card--header Quick Info
		button.btn.btn-edit.f-R.mt-NegSm(duck-button='edit', data-icon='fa fa-pencil')

	+view
		if wysiwygHasData(attraction.price)
			.mb-Sm
				span.d-B.f-L.mt-XXs(data-icon='fa fa-tag')
				.ml-Md!= attraction.price
		if wysiwygHasData(attraction.hours)
			.mb-Sm
				span.d-B.f-L.mt-XXs(data-icon='fa fa-clock-o')
				.ml-Md!= attraction.hours
		if wysiwygHasData(attraction.address)
			.mb-Sm
				span.d-B.f-L.mt-XXs(data-icon='fa fa-map-marker')
				.ml-Md!= attraction.address

	+edit
		+wysiwyg(attraction, 'price', 'Price')
		+wysiwyg(attraction, 'house', 'Hours')
		+wysiwyg(attraction, 'address', 'Address')

+formStart(attraction, 'Attractions', userIsAuthorized())(class='content-card')
	h2.content-card--header Attraction Category
		+editButton()(class='f-R mt-NegSm')

	+view
		h3 (only visible to admins)
		if attraction.category
			ul
				for category in attraction.category
					li= cateogry

	+edit
		+bool(attraction, 'isTopAttraction', Top Attraction)
		+checkbox(attraction, 'category', 'Attraction Category', attractionCategories)