- let childAttractionScriptLoaded = false;

+formStart(attraction, 'Attractions', subAttractions)(class='js-child-attractions')
	h2.fc-G Attractions in #{attraction.names.display}
		+editButton('f-R mt-NegSm')

	if subAttractions
		+view
			.masonry.masonry-grid-1.masonry-grid-2--md
				for subAttraction in subAttractions
					a.masonry--item(href=`/${city.countryUrl}/${city.url}/attraction/${subAttraction.url}`)
						+card(subAttraction.cardImage, subAttraction.names.display, null, null, subAttraction.description, 'medium')

	+edit
		+array(attraction, 'subAttractions', 'Sub Attractions')

if !childAttractionScriptLoaded
	script(src='/js/ajaxCallbacks/childAttraction.min.js', type='text/javascript')
	- childAttractionScriptLoaded = true