+formStart(attraction, 'Attractions')
	h2.fc-G Attractions in #{attraction.names.display}
		+editButton('f-R mt-NegSm')

	if subAttractions
		+view
			.masonry.masonry-grid-1.masonry-grid-2--md
				for subAttraction in subAttractions
					a.masonry--item(href=`/${city.countryUrl}/${city.url}/attraction/${subAttraction.url}`)
						+card(getImagePath(subAttraction.cardImage, 'medium'), subAttraction.names.display, null, null, subAttraction.description)

	+edit
		+array(attraction, 'subAttractions', 'Sub Attractions')
