.email-capture-wrapper.form-group
	form.input-group.email-capture.active
		input.form-control(type='email', placeholder='name@email.com', id='EmailCaptureInput', name='email')
		.input-group-addon
			input(type='submit', id='EmailCaptureButton', for='email', value='Sign Me Up')

	form.email-capture-success
		.email-capture-success-content
			h2.submit-guide-header Thanks for signing up!
			p.submit-guide-text In the mean time request a custom guide from us.
			.input-group
				input.form-control(type='text', placeholder='Where do you want to go?', id='RequestGuideInput', name='travel')
				.input-group-addon
					input(type='submit', id='RequestGuideButton', value='Request a Guide')
	span.email-capture-error Please enter a valid email.
| test
script(type='text/javascript', src='/js/controls/betaSignup.min.js')