.form-group.p-R
	form.input-group.input-submit-group(data-beta-signup="email-capture")
		input.form-control(type='email', placeholder='name@email.com', id='EmailCaptureInput', name='email')
		.input-group-btn
			input#EmailCaptureButton.btn.btn-primary(type='submit', for='email', value='Sign Me Up')

	form(data-beta-signup="success")
		div(data-beta-signup="success-content")
			h2.mt-0.plr-Sm.plr-0--sm(data-submit-guide="header") Thanks for signing up!
			hr.bc-W.w-75.p-R
			p.fw-Sb(data-submit-guide="text") In the mean time request a custom guide from us.
			.input-group.input-submit-group
				input#RequestGuideInput.form-control(type='text', placeholder='Where do you want to go?', name='travel')
				.input-group-btn
					input#RequestGuideButton.btn.btn-primary(type='submit', value='Request a Guide')
	span.alert.alert-danger(data-beta-signup="error") Please enter a valid email.

script(type='text/javascript', src='/js/controls/betaSignup.min.js')