footer.site-footer
	.container.plr-Md
		.row
			.col-xs-12.col-sm-6.col-md-4.pr-XXl--sm
				a(href='/', title="Stellaroute.com").d-B.mr-NegXs
					img.img-responsive(src='/images/logo_purple.svg', alt='Stellaroute')
				ul.visible-xs.list-inline.ta-C.fs-Sm.mt-Sm
					li
						a.fc-W(href='/about') About Us
					li.fc-W
						| &bull;
					li
						a.fc-W(href='mailto:info@stellaroute.com') Email Us
				ul.list-social-media.list-flex.plr-Xs
					li
						a(href='https://www.facebook.com/stellaroute/', target='blank', title="facebook.com/stellaroute")
							i.fa.fa-facebook(aria-hidden="true")
							span.sr-only Facebook
					li
						a(href='https://www.instagram.com/stellaroute_travel/', target='blank', title="instagram.com/stellaroute_travel")
							i.fa.fa-instagram(aria-hidden="true")
							span.sr-only Instagram
					li
						a(href='https://twitter.com/stellaroute', target='blank', title="twitter.com/stellaroute")
							i.fa.fa-twitter(aria-hidden="true")
							span.sr-only Twitter
					li
						a(href='https://www.pinterest.com/stellaroute/', target='blank', title="pinterest.com/stellaroute")
							i.fa.fa-pinterest(aria-hidden="true")
							span.sr-only Pinterest
					li
						a(href='https://www.youtube.com/channel/UCU5tyYgAJoqOudRkss21BSw', target='blank', title="Stellaroute's YouTube Channel")
							i.fa.fa-youtube(aria-hidden="true")
							span.sr-only YouTube
			
			.col-xs-12.col-sm-6.col-sm-push-1.col-md-push-2
				h3.mt-0.fc-W.fs-XL.ta-C.ta-L--sm Sign Up for Our Beta
					small.d-N.d-B--sm.fc-G__ltr.pt-Xs We'll keep you updated leading up to our launch
				include beta-signup

	ul.list-inline.bg-Steel.ta-C.fs-Xs.ptb-Xs.mb-0
		li.hidden-xs
			a.fc-W(href="/about") About Us
		li
			a.fc-W(href="http://bagusco.com/") &copy; Bagus Tech LLC. 
		li
			a.fc-W(href="/privacy-and-terms") All rights reserved
		li.hidden-xs
			a.fc-W(href="mailto:info@stellaroute.com") Email Us