.global-header(style={'background-color': headerBackground}, class= headerClasses)
	.container
		// REMOVED UNTIL SEARCH IS WORKING
			if showHeaderSearch
				button.btn-search.toggle-search(type='button', data-icon='fa fa-search', data-function='toggle', data-target='#SiteLogo, #SearchQuery')
				input#SearchQuery.form-control.bg-N.w-0.o-0(type='text', placeholder='Where do you want to go?', name='searchInput', data-toggle='w-0 o-0 o-1')

		a#SiteLogo(href='/', data-toggle='w-50 w-0 plr-Sm p-XXs')
			img.img-responsive(src=`/images/logo_${logoColor}.svg`, alt='Stellaroute')

		.ml-A.mr-Md.mr-0--sm
			include login