header.site-header
	a(href='/')
		img.logo-header(src='/images/logo_purple.svg', alt='Stellaroute')
	#SiteSearch.search
		button.search--toggle(type='button')
			i.fa.fa-search(aria-hidden="true")
		
		.search--area
			button.search--btn(type='button')
				i.fa.fa-search(aria-hidden="true")
			input.search--input(type='text', placeholder='Where do you want to go?', id='SearchQuery', name='searchInput')
	button.hamburger-menu--toggle
		i.fa.fa-ellipsis-v(aria-hidden='true')
	nav.hamburger-menu
		button.exit-icon
			i.fa.fa-times(aria-hidden='true')
		ul.hamburger-menu--options
			li
				a(href='http://stellaroute.com/profile') My Accounts
			li
				a(href='http://stellaroute.com/request') Make A Request
			li
				a(href='http://stellaroute.com/feedback') Give Us Feedback
			li
				button.btn.log-out(type='button') Log Out

	.account-access
		include login