.modal.fade#ImagePickerModal(tabindex="-1", role="dialog", style='z-index: 2000;')
	.file-picker
		aside.file-picker--directory
			ul(data-file-picker='directory')
				li(data-prefix='') / (root)
					ul
		.file-picker--main
			header.file-picker--header(data-file-picker='header')
				h2 Root
				.btn-group
					button.btn-default New Folder
					//button.btn-default Delete Folder
					//button.btn-default Rename Folder
			div(data-function='scroll', style='height: 75vh')
				div(data-scroll='content-wrapper')
					.file-picker--content(data-file-picker='content', data-loaded='false', data-scroll='content')
					.file-picker--uploader.hidden(data-file-picker='uploader')
						form.uploader
							h2.uploader--header Upload Files
							.uploader--file-drop Drag &amp; Drop Your Files Here or Click to Upload
							h3.uploader--sub-header Files to Upload
							ul.uploader--files

							button.btn.btn-secondary.uploader--submit(data-file-picker='submit', disabled) Upload

				div(data-scroll='scrollbar')
					button
			footer.file-picker--footer(data-file-picker='footer')
				button.btn.btn-secondary(data-file-picker='upload') Upload
				button.btn.btn-primary(data-file-picker='select') Select
				button.btn-warning.hidden(data-file-picker='cancel') Cancel

	script.
		const $ = jQuery.noConflict();
		const files = [];

		$('.uploader--file-drop').on('dragover', (e) => {
			e.stopPropagation();
			e.preventDefault();

			let efct;

			try {
				efct = e.originalEvent.dataTransfer.effectAllowed;
			} catch (_error) {}

			e.originalEvent.dataTransfer.dropEffect = 'move' === efct || 'linkMove' === efct ? 'move' : 'copy';
		});

		$('.uploader--file-drop').on('drop', (e) => {
			e.stopPropagation();
			e.preventDefault();

			const _files = e.originalEvent.dataTransfer.files;

			for (var i = 0, length = _files.length; i < length; i++) {
				const file = _files[i];
				const duplicateFile = $('.uploader--files').find('li').filter((i, item) => $(item).text() === file.name).length > 0;

				if(duplicateFile) {
					// TODO: Handle Duplicate Files
					return;
				}

				files.push(file);
				$('.uploader--files').append(`<li>${file.name}</li>`);
				$('[data-file-picker="submit"]').prop('disabled', false);
			}
		});

		$('[data-file-picker="submit"]').on('click', (e) => {
			e.stopPropagation();
			e.preventDefault();

			$('[duck-type="image"]').trigger('uploadFiles', [files]);
		});