.modal.fade#ImagePickerModal(tabindex="-1", role="dialog", style='z-index: 2000;')
	.file-manager(data-function="file-manager")
		aside.file-manager--directory(data-file-manager='directory')
			ul
		.file-manager--main
			header.file-manager--header
				h2(data-file-manager="current-directory") Root

				.btn-group
					button.btn.btn-danger(data-file-manager='delete', disabled) Delete
					button.btn.btn-secondary(data-file-manager='upload') Upload
			div(data-function='scroll', style='height: 75vh')
				div(data-scroll='content-wrapper')
					.file-manager--content(data-file-manager='content', data-loaded='false', data-scroll='content')

				div(data-scroll='scrollbar')
					button

			.file-manager--uploader.hidden(data-file-manager='uploader')
				.uploader(data-function='uploader')
					h2.uploader--header Upload Files to:&nbsp;
						span.fw-B(data-file-manager='current-directory') Root
					.uploader--file-drop(data-uploader='file-drop') Drag &amp; Drop Your Files Here or Click to Upload
					h3.uploader--sub-header Files to Upload
					ul.uploader--files(data-uploader='files')

					button.btn.btn-secondary.uploader--submit(data-uploader='upload', disabled) Upload
					button.btn.btn-warning(data-uploader='cancel') Cancel