.modal.fade#ImagePickerModal(tabindex="-1", role="dialog", style='z-index: 2000;')
	//.modal-dialog.modal-lg
	.file-picker
		aside.file-picker--directory
			ul(data-file-picker="directory")
				li(data-prefix='/') / (root)
					ul
		.file-picker--main
			header.file-picker--header(data-file-picker="header")
				h2 Current Folder Name
				.btn-group
					button.btn-default New Folder
					button.btn-default Delete Folder
					button.btn-default Rename Folder
			div(data-function='scroll', style='height: 75vh')
				div(data-scroll='content-wrapper')
					.file-picker--content(data-file-picker="content", data-loaded='false', data-scroll='content')
						.p-Md.fs-XXl
							i.fa.fa-spin.fa-spinner
				div(data-scroll='scrollbar')
					button
			footer.file-picker--footer(data-file-picker="footer")
				button.btn.btn-secondary(data-file-picker="upload") Upload
				button.btn.btn-primary(data-file-picker="select") Select
		//.content-card
			h2.content-card--header Pick an Image
			div(data-function='scroll' style='min-height: 70vh;')
				div(data-scroll='content-wrapper')
					div(data-scroll='content')
						.mb-Md.ta-C(duck-images='false')
				div(data-scroll='scrollbar')
					button
			.row.pt-Sm(duck-image-uploader)
				.col-xs-6
					button.btn.btn-secondary(duck-button='upload') Upload New Image
					button.btn.btn-primary(duck-button='save-image') Save
				.col-xs-6.ta-R
					button.btn.btn-default(data-dismiss='modal') Cancel