#RequestLocationMessage.p-A.t-Md.r-Md.d-N
	p.alert.alert-success.d-N Request successfully submitted, feel free to make more!
	p.alert.alert-danger.d-N Sorry, something went wrong. If this continues please let us know and we will fix is shortly.

+modal('RequestLocation')(class='t-XXl')
	form.d-B.bg-W.p-0.p-S.m-0
		.fc-B.p-Sm
			h2.mb-0.plr-Sm.plr-0--sm.ta-C Where would you like to go?
			hr.w-75
			p.fw-Sb.mb-Md.ta-C We are working on new locations everyday.
			.row
				.col-xs-12.col-md-8.col-md-push-2
					.form-group.mb-Xs
						input.form-control(type='text', placeholder='Email', name='from', value= user && user.local && user.local.email)

					.form-group
						input.form-control(type='text', placeholder='Where do you want to go?', name='location')

					input.btn.btn-primary.btn-lg(type='submit', value='Request a Location')

script(src='js/controls/requestLocation.min.js')
	