#GuideDetailsForm {
}

.card-styles--list {
	padding:0 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
	overflow: hidden;
}
	.card-styles--style {
		cursor: pointer;
		margin-bottom: 12px;
		padding: 6px;

		&:hover {
			background: @green;
		}
	}

		.card-styles--style__active {
			border: 2px solid @green-dark;
		}

	.card-styles--preview {
		display: none;
	}
		.card-styles--preview__active {
			display: block
		}

.card-admin {
	padding-top: @gw-Sm;
	width: 100%;
}

.guide {
	.sub-header {
		.btn-default {
			transition: opacity .17s;
			opacity: 0;
		}
	}

	.sub-header:hover, .in + .sub-header{
		.btn-default{
			opacity: 1;
		}
	}
}

.guide--cards{
	[data-sort='item'] {
		position: relative;
	}
	[duck-button='add'] {
		border: none;
		background: none;
		position: absolute;
		z-index: 1;
		top: -2em;
		left: -4em;
		opacity: .75;
		transition: opacity .17s, left .17s;
		
		span {
			opacity: 0;
			transition: opacity .17s;
		}

		&:hover {
			opacity: 1;
			left: -3em;
			span {opacity: 1;}
		}

		&:last-child {
			top: auto;
			bottom: 0;
			//left: -2.25em;
		}
	}

	.guide-card--edit-mode [duck-button='add'] {
		top: -1.75em;
	}

	[data-sort="item"]:first-child {
		[duck-button='add'] {
			top: -1.5em;
		}
	}

	.fa-plus {
		transition: transform .17s;
	}
}

@media (min-width: @screen-sm) {
	.guide {
		.share42init span {text-align: center;}
			.share42-item {
				width: 100%;
			}
	}
}