#GuideDetailsForm {
}

.guide--cards {
	padding-top: @gw-Sm;
}

.card-styles--list {
	padding:0 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
	overflow: hidden;
}
	.card-styles--style {
		cursor: pointer;
		margin-bottom: 12px;
		padding: 6px;

		&:hover {
			background: @green;
		}
	}

		.card-styles--style__active {
			border: 2px solid @green-dark;
		}

	.card-styles--preview {
		display: none;
	}
		.card-styles--preview__active {
			display: block
		}

.card-admin {
	padding-top: @gw-Sm;
	width: 100%;
}

.guide {
	.sub-header {
		.btn-default {
			transition: opacity .17s;
			opacity: 0;
		}
	}

	.sub-header:hover, .in + .sub-header{
		.btn-default{
			opacity: 1;
		}
	}
}

.guide--cards{
	[data-sort='item'] {
		position: relative;
	}
	[duck-button='add'] {
		opacity: .75;
		transition: opacity .17s, left .17s;
		border-radius: 50%;
		display: block;
		margin: 0 auto;
		text-align: center;
		width: 45px; 
		height: 45px;
		position: relative;
		top: -@gw-Sm;

		&:hover {
			opacity: 1;
		}

		&:last-child {
		}
	}

	.guide-card--edit-mode [duck-button='add'] {
		
	}

	[data-sort="item"]:first-child {
		[duck-button='add'] {
			
		}
	}

	.fa-plus {
		transition: transform .17s;
	}
}
	.guide-card--img__no-img {
		display: none;

		.guide-card--card__small .guide-card--body & + div {
			width: 100%;
		}

		.guide-card--edit-mode & {
			display: block;
		}
	}

.guide-card--admin {
	width: 100%;

	.input-group-addon,
	.input-group-btn,
	.panel-heading,
	.panel-footer,
	.guide-card--edit {
		display: none;
	}

	.guide-card--view {
		width: 100%;
	}

	.panel-body,
	.panel {
		background: none;
		padding: 0;
		box-shadow: none;
	}

	.panel {
		border-width: 0;
	}

	.guide-card--edit-toggle {
		position: absolute;
		top: 1px;
		right: 1px;
		z-index: 2;
		display: none;
	}

	&.guide-card--sub {
		.guide-card--edit-toggle {
			top: 0;
		}
	}

	// FOR THE ACCENT LINE TO THE LEFT OF THE CARDS |
	/*	&:before {
			display: block;
			position: absolute;
			width: 1px;
			background: @grey-dark;
			bottom: @gw-Xl;
			top: -@gw-Xl;
			left: -@gw-Sm - 1;
		}

		&:after {
			height: @gw-Sm + 1;
			width: @gw-Sm + 1;
			border-radius: 50%;
			display: block;
			position: absolute;
			left: -@gw-Sm - @gw-Xs - 1;
			top: @gw-Md - @gw-Xs;
			background: @grey-dark;
		}
		
		.guide-card--section ~ &:before,
		.guide-card--section ~ &:after {
			content: ' ';
		}

		+ .guide-card--admin:after,
		&.guide-card--section:before,
		&.guide-card--section:after {
			display: none;
		}

		.guide-card--section + &:before {
			top: @gw-Md;
		}

		.guide-card--section + &:after,
		&.guide-card--sub:after {
			display: block;
		}

		.guide-card--section ~ .guide-card--admin:not(.guide-card--section) + &.guide-card--section:after {
			top: -@gw-Xl;
			display: block;
		}

		&:last-child:after {
			display: block;
			top: auto;
			bottom: @gw-Xl - @gw-Sm;
		}*/
}
	.guide-card--edit-mode {
		margin-bottom: @gw-Sm;

		.input-group-addon,
		.input-group-btn {
			display: table-cell;
		}

		.panel-heading,
		.panel-footer,
		.guide-card--edit {
			display: block;
		}

		.guide-card--view {
			width: 50%;
			display: none;
		}

		.panel-body {
			background: white;
			padding: @gw-Sm;
		}

		.panel {
			border-width: 1px;
		}
	}

	.card-styles--preview {
		margin: 0 auto;
	}

.guide-card--card {
	position: relative;
	padding: 0 0 @gw-Md;

	&:before {
		display: block;
		position: absolute;
		width: 1px;
		background: @grey-dark;
		bottom: @gw-Xl;
		top: -@gw-Xl;
		left: -@gw-Sm - 1;
	}

	&:after {
		height: @gw-Sm + 1;
		width: @gw-Sm + 1;
		border-radius: 50%;
		display: block;
		position: absolute;
		left: -@gw-Sm - @gw-Xs - 1;
		top: @gw-Md - @gw-Xs;
		background: @grey-dark;
	}
	
	.guide-card--card__section + div &:before,
	.guide-card--card__section + div &:after {
		content: ' ';
	}

	+ .guide-card--card:after {
		display: none;
	}

	.guide-card--card__section + div &:first-child:before {
		top: @gw-Md;
	}

	&.guide-card--card__sub:after {
		display: block;
	}

	.guide-card--card__section + div .guide-card--card:not(.guide-card--card__section) + &.guide-card--card__section:after {
		top: -@gw-XXl - @gw-Md;
		display: block;
	}

	&:last-child:after {
		display: block;
		top: auto;
		bottom: @gw-Lg + @gw-XXs;
	}
}
	.guide-card--body {
		.card;

		padding: @gw-Sm;
	}

	.guide-card--img {
		width: 100%;
		height: 100%;
	}

	.guide-card--title {
		margin: 0 0 @gw-Sm;
		font-size: 1.3em;
	}

	.guide-card--text > *:last-child {
		margin-bottom: 0;
	}

	.guide-card--card__section {
		font-size: 1.5em;
		text-align: center;
		margin: @gw-Lg 0;
		padding-bottom: 0;

		&:before{
			display: none;
		}

		.guide-card--title {
			font-weight: bold;
		}

		.guide-card--text {
			line-height: 1.2;
		}
	}
	.guide-card--card__sub {
		//position: sticky;
		//top: 0;
		//z-index: 1;

		.guide-card--body {
			background: @grey-light;
			text-align: center;
		}

		.guide-card--title {
			margin: 0;
		}

		&:after {
			display: block;
		}
	}

	.guide-card--card__big {
		.guide-card--body {
			padding: 0;
		}

		.guide-card--title {
			padding: @gw-Sm @gw-Sm 0;
			margin: 0 0 @gw-Xs;
		}

		.guide-card--text {
			padding: 0 @gw-Sm @gw-Sm;
		}
	}
	.guide-card--card__small {
		margin-top: -@gw-Md - 1;
		position: relative;

		.guide-card--body {
			padding: 0;
			border-radius: 0 0 @br-Md @br-Md;

			display: flex;

			> div {
				width: 75%;
				padding: @gw-Sm;
			}

			.guide-card--img {
				width: 25%;
			}
		}

		.card-styles--preview & {
			margin-top: 0;
		}

		&:first-child {
			margin-top: 0;
		}
	}

	.guide-card--card__img {}

	.guide-card--card__plain {}
	.guide-card--card__white {}
	.guide-card--card__danger {
		.guide-card--body{
			.alert;
			.alert-variant(@alert-danger-bg; @alert-danger-border; @alert-danger-text);
		}
	}
	.guide-card--card__success {
		.guide-card--body{
			.alert;
			.alert-variant(@alert-success-bg; @alert-success-border; @alert-success-text);
		}
	}
	.guide-card--card__info {
		.guide-card--body{
			.alert;
			.alert-variant(@alert-info-bg; @alert-info-border; @alert-info-text);
		}
	}

	.guide-card--card__plain,
	.guide-card--card__white,
	.guide-card--card__danger,
	.guide-card--card__success,
	.guide-card--card__info {
		.guide-card--body {
			margin: 0;
		}
	}	

		.guide-card--img-wrapper {
			.guide-card--card__sub & {
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;
			}
		}
			

		.guide-card--info {
			padding: @gw-Sm;
		}
			

@media(min-width: @screen-Sm) {
	.guide {
		.share42init span {text-align: center;}
			.share42-item {
				width: 100%;
			}
	}

	.guide-card--admin{
		.guide-card--edit-toggle {
			display: block;
			transition: opacity .17s ease-out;
			opacity: 0;
		}

		&:hover .guide-card--edit-toggle {
			opacity: 1;
		}
	}
	.guide-card--edit-mode {
		.guide-card--edit-toggle {
			opacity: 1;
			.fa:before {
				content: "\f06e"
			}
		}
	}

	.guide-card--card {
		padding-left: @gw-Sm;
	}
}

@media(min-width: @screen-lg) {
	.guide-card--edit-mode{
		.guide-card--view{
			display: block;
		}
	}
}