extends ../../layout.pug

block content
	.media-bg-img.request-page-header
		.container
			h1 Skydeck Chicago
				small  Incredible views of the Chicagoland area seen from the Western Hemisphere’s tallest building

	#testOverview.p-F.t-25.r-0.an-F.c-P
		.content-card
			h2.ta-R
				span.f-L.mt-XXs.fs-18(data-icon='fa fa-chevron-right')
				| &nbsp;Quick Info
			p
				span.d-B.f-L.mt-XXs(data-icon='fa fa-tag')
				span.d-B.ml-Md $22&nbsp;
			p
				span.d-B.f-L.mt-XXs(data-icon='fa fa-clock-o')
				span.d-B.ml-Md 9:00am-10:00pm (Mar-Sep)
				span.d-B.ml-Md 10:00am-8:00pm (Oct-Feb)
			p
				span.d-B.f-L.mt-XXs(data-icon='fa fa-map-marker')
				span.d-B.ml-Md 233 S. Wacker Dr.&nbsp;
	script.
		$('#testOverview').click(function(){
			if($(this).hasClass('r-0')){
				$(this).css('right', '-200px')
				$('h2 i').removeClass('fa-chevron-right')
				$('h2 i').addClass('fa-chevron-left')
			} else {
				$(this).css('right', '')
				$('h2 i').addClass('fa-chevron-right')
				$('h2 i').removeClass('fa-chevron-left')
			}
			$(this).toggleClass('r-0');
		});

	.container
		.row
			.col-xs-12.col-sm-6.col-md-4

				.content-card
					h2 Orientation
					p Willis Tower is in Downtown Chicago and inside The Loop. It is also about a 5 minute walk from Union Station.

					button.bg-N.bw-0.p-0(type='button', data-toggle='modal', data-target='#MapModal', tab-index='1')
						img.w-100(src='/images/willis-tower-orentation.png')

					h3
						span.fs-16(data-icon='fa fa-subway')
						| &nbsp;Getting There
					ul
						li Quincy/Wells (Brown, Pink, Orange, Purple)
						li Jackson (Red)
						li Monroe (Blue)

				h2 Nearby Attractions

				.row
					.col-xs-12.col-sm-6
						.content-card.p-0
							a.d-B.p-R(href="#")
								small.p-A.bg-Dkst.fc-W.t-Sm.p-Xs.l-Sm.br-Lg .3mi away
								img.w-100(src='http://www.panicstream.com/vault/wp-content/uploads/2012/04/chicago-theatre.jpg')
								h4.m-0.plr-Sm.ptb-Xs.mr-NegXXs Chicago Theatre
								p.fc-B.fw-N.lh-1.pb-Sm.plr-Sm A landmark theater located on North State Street in the Loop area of Chicago, Illinois, in the United State
						.content-card.p-0
							a.d-D(href="#")
								img.w-100(src='http://urbanmatter.com/wp-content/uploads/2015/04/Art-Institute-of-Chicago.jpg')
								h4.m-0.plr-Sm.ptb-Xs The Art Institute of Chicago
								p.fc-B.fw-N.lh-1.pb-Sm.plr-Sm Home to one of the best art collections in the US

					.col-xs-12.col-sm-6
						.content-card.p-0
							a.d-B(href="#")
								img.w-100(src='https://cdn0.vox-cdn.com/uploads/chorus_image/image/47913373/riverwalk-insta.0.png')
								h4.m-0.plr-Sm.ptb-Xs Riverwalk
								p.fc-B.fw-N.lh-1.pb-Sm.plr-Sm The Riverwalk offers a variety of opportunities to find the beauty and spirit of the Chicago River.
						.content-card.p-0
							a.d-B(href="#")
								img.w-100(src='http://doubletree-hotel-magnificent-mile.chicagotophotels.com/data/Photos/OriginalPhoto/1920/192010/192010453.JPEG')
								h4.m-0.plr-Sm.ptb-Xs Magnificent Mile
								p.fc-B.fw-N.lh-1.pb-Sm.plr-Sm Chicago's version of the Champs-Elysées: a grand wide boulevard with exclusive shops, museums, restaurants and ritzy hotels.
				
				.content-card.p-0.p-R.mt-Lg
					small.bg-Gr.fc-W.p-Xs.p-A.b-100.r-0 Area Attraction
					a.d-B(href="#")
						h4.m-0.plr-Sm.ptb-Xs Millennium Park
						p.fc-B.fw-N.lh-1.pb-Sm.plr-Sm.m-0 A new kind of town square – a lively, spectacular gathering spot located in the heart of the city and a destination for Chicagoans and visitors alike.
						img.w-100(src='http://www.chicagotraveler.com/images/general-chicago/34-4-aerial.jpg')

					.clear
						.p-Sm.bg-G__ltr
							a.d-F.fai-C(href="#")
								.w-35.f-L
									img.w-100(src='http://millenniumparkfoundation.org/wp-content/uploads/2014/04/cloud-gate-big.jpg')
								.w-65.f-L
									h4.m-0.pl-Sm.pb-Xs Cloud Gate (The Bean)
									p.fc-B.fw-N.lh-1.plr-Sm.m-0 Inspired by liquid mercury, the sculpture is among the largest of its kind in the world, measuring 66-feet long by 33-feet high.
						.p-Sm
							a.d-F.fai-C(href="#")
								.w-35.f-L
									img.w-100(src='http://evansvillewinsupply.com/wp-content/uploads/2015/06/Buckingham_Fountain_in_Chicago_at_night.jpg')
								.w-65.f-L
									h4.m-0.pl-Sm.pb-Xs Buckingham Fountain
									p.fc-B.fw-N.lh-1.plr-Sm.m-0 Buckingham Fountain is a Chicago landmark in the center of Grant Park. Dedicated in 1927, it is one of the largest fountains in the world.
					
			.modal.fade#MapModal(tab-index='-1', role='dialog')
				.modal-dialog(role='document', style='width: 100%; max-width: 1200px')
					.modal-content.p-Md
						img.w-100(src='/images/willis-tower-orentation.png')

			.col-xs-12.col-sm-6.col-md-8
				.content-card.pt-0
					.row
						figure.p-R
							img.w-100.mb-Sm(src='http://legacy.skyscrapercenter.com/class-image.php/userpics/10003/?width=1000&height=800&image=/images/albums/userpics/10003/Sears_ViewFromRiver1_AW.jpg', alt='Willis Tower')
							//figcaption.p-A.b-Md.r-Sm.p-Sm.bg-Dkst.fc-W The View from Willis Tower
					p.lead.m-0 While technically called Skydeck Chicago, and Willis owns the naming rights, this beautiful skyscrapper has, and always will be, known as <strong>Sears Tower</strong>. Although it lost it's status of tallest building in the world, Sears Tower is still an impressive piece of architecture.
					//ul.list-inline.fc-G
						li.p-Xs.br-Sm(data-icon='fa fa-tag')
							span &nbsp;$22
						li(data-icon='fa fa-clock-o')
							span &nbsp;9:00am - 10:00pm (Mar - Sep) / 10:00am - 8:00pm ( Oct - Feb)
						li(data-icon='fa fa-map-marker')
							span &nbsp;233 S. Wacker Dr., Chicago IL
				
				.content-card
					h2 Need to Know
					ul.ls-N.p-0
						li
							h3 Watch Out for the Clouds
							p Pay attention to the weather before going. This skyscraper stretches up beyond the clouds. That makes the Skydeck the best place for a bird’s eye view of the city...provided the weather isn’t overcast. The Windy City’s infamous temperamental weather can bring in a blanket of clouds that will completely obscure these views and make it a big waste of time and money.
						li
							h3 Dreamy Landscapes Best Seen at Night 
							p These views are incredible no matter what type of light is shining on them. But there is something that is just magical about seeing the surrounding skyscrapers a glow and a city of golden lights stretching out as far as the eye can see.
						li
							h3 The Pic You’ll Wait in 4 Lines for
							p You know that picture you see of people standing on a pane of glass on the 103rd floor? Yeah - they waited in several lines to get there. There’s the line to buy the ticket, there’s the line to ride up the elevator, then there’s the line to get into the viewing area, and finally there’s the line to stand on that pane of glass. Be patient, if it’s crowded (and it probably will be) then you’ll be waiting awhile. 
						li
							h3 The Choice: Willis or Hancock?
							p Chicago has two very good options to lookout onto the city from up on high: Willis Tower’s Skydeck or the Hancock’s 360 Chicago. These two options are very similar; however; the Hancock gets a slight edge because its proximity to Lake Michigan offers a better view and being on the Magnificent Mile it’s more convenient. The other huge advantage the Hancock has is the Signature Lounge which gives you the view without the long wait or high price of admission. This cocktail bar on the 93rd floor offers the same spectacular view for the cost of an overpriced drink. The reason to go to Willis is its cultural significance and to say you went to the tallest building in the Western Hemisphere. It all really boils down to how important is it to say you went to the tallest building in Chicago? If it’s not that important than Hancock is where you should go. 
						li
							h3 The Rollercoaster Elevator Ride
							p Okay the title might be a little misleading. It is one of the smoothest elevator rides you’ll go on, but it’s also probably the fastest getting you to the 103rd floor in 90 seconds. While your ears are popping there is a screen telling you how high up you are and what famous buildings stand that tall. 
						li
							h3 How to Save
							p Go Chicago Card or CityPass offers the most affordable way to view the Skydeck provided you plan on visiting this in addition to other museums like the Art Institute of Chicago, Shedd Aquarium or Field Museum.

				.content-card
					h2 Fun Facts
					ul.ls-N.p-0
						li
							h3 Officially Not Sears Tower
							p Remember how Sears used to be a big thing? Well the retailer might not be such a big deal anymore but this skyscraper is still just as big. The naming rights to Sears Tower expired and a few years later a London based insurance company that no one has heard of decided to pay for the right. Like a family member that tries to change her name, the skyscraper might officially be Willis Tower but everyone still calls it Sears Tower even a decade after the name change.
						li
							h3 Almost 25 Years as the Tallest
							p It was a good run. Upon its completion in 1973 Sears Tower edged out the World Trade Center to become the largest skyscraper in the world up until 1998. Though it now is only the 14th largest building in the world (2nd in the US), those 25 years holding the title have left an indelible impression in the collective conscious and ensured it will always stand tall in our minds.