extends ../../layout.pug

block content
	.media-bg-img.request-page-header
		.container
			h1= "Food and Drinks in " + city.names.display

	.container
		.row
			.hidden-xs.col-sm-3.col-md-2
				//.content-card
					h2 Legend
					ul.ls-N.pl-Sm
						li
							span(data-icon='fa fa-search') &nbsp;Breakfast
						li
							span(data-icon='fa fa-search') &nbsp;Lunch
						li
							span(data-icon='fa fa-search') &nbsp;Dinner
						li
							span(data-icon='fa fa-search') &nbsp;Dessert
						li
							span(data-icon='fa fa-search') &nbsp;Snack
						li
							span(data-icon='fa fa-search') &nbsp;On the Go

				.content-card
					h2 Filters
					h3 Category
					.checkbox
						label
							input(type='checkbox')
							| Only in Chicago
					.checkbox
						label
							input(type='checkbox')
							| Local Cuisine
					.checkbox
						label
							input(type='checkbox')
							| Best Dishes
					.checkbox
						label
							input(type='checkbox')
							| Drinks
					.checkbox
						label
							input(type='checkbox')
							| Restaurants
					h3 Dietary Restrictions
					.checkbox
						label
							input(type='checkbox')
							| Shellfish
					.checkbox
						label
							input(type='checkbox')
							| Gluten
					.checkbox
						label
							input(type='checkbox')
							| Nuts
					.checkbox
						label
							input(type='checkbox')
							| Meat
					.checkbox
						label
							input(type='checkbox')
							| Dairy

			.col-xs-12.col-md-10.col-sm-9
				h2 Something

			.masonry.masonry-grid-1.masonry-grid-3--md.col-xs-12.col-md-10.col-sm-9.pt-Sm
				#testItem.masonry--item.content-card.p-0.p-R.mt-Md(data-function='toggle', data-event='hover', data-target='#testDescription, #testTitle, #testContent')
					div.o-H(style='background: url("https://chewoutloud.files.wordpress.com/2013/02/deep-dish-pizza-3.jpg") no-repeat center center / cover')
						#testDescription.p-A.b-100.r-0.bg-Gr.fc-W.p-Xs.an-F.br-Sm.lh-1 Only in Chicago
						#testContent.m-0.p-Sm.bg-Ltst2.o-0.mt-Xl.an-F(data-toggle='o-0')
							p.lead The pan in which it is baked gives the pizza its characteristically high edge and a deep surface for large amounts of cheese and a chunky tomato sauce. Chicago-style pizza may be prepared in deep-dish style and as a stuffed pizza.
							p
								strong Best Place to Get It:&nbsp;
								| Pequods, in&nbsp;
								a(href='#') Lincoln Park
					h2#testTitle.p-A.t-100.l-0.r-0.m-0.bg-Ltst2.p-Sm.bw-0.fc-B.an-Xf.mt-NegXl(data-toggle='t-100 t-0 mt-NegXl mt-0 bbw-Sm bs-S bc-G') Deep Dish

				.masonry--item.content-card.p-0.p-R.mt-Md
					.p-A.b-100.r-0.bg-Gr.fc-W.plr-Xs Only in Chicago
					h2.m-0.bg-G__dk.p-Sm.bw-0 Chicago Dog
					div.o-H(style='background: url("https://c5.staticflickr.com/2/1157/3173462588_b9f0fd35aa_b.jpg") no-repeat center center / cover')
						.m-0.p-Sm.bg-Ltst.o-0.an-F.c-P(data-function='toggle', data-event='hover', data-toggle='o-0')
							p.lead If you ask a local, the Chicago Dog, rather than Deep Dish, is the city’s quintessential street food. With a very specific list of ingredients, the most important thing to know is to never, ever, order it with ketchup.
							p
								strong Best Place to Get It:&nbsp;
								| Bari

				.masonry--item.content-card.p-0.p-R.mt-Md
					.p-A.b-100.r-0.bg-Gr.fc-W.plr-Xs Only in Chicago
					h2.m-0.bg-G__dk.p-Sm.bw-0 Italian Beef
					div.o-H(style='background: url("http://kronosfoodscorp.com/assets/italian-beef-feature-720x328.jpg") no-repeat center center / cover')
						.m-0.p-Sm.bg-Ltst.o-0.an-F.c-P(data-function='toggle', data-event='hover', data-toggle='o-0')
							p.lead A thinly sliced roast beef sandwich might not seem like magic, but there is something special about the combination between the beef broth it’s soaked in or the spicy giardiniera peppers.
							p
								strong Best Place to Get It:&nbsp;
								| Bari
				
				.masonry--item.content-card.p-0.p-R.mt-Md
					.p-A.b-100.r-0.bg-Purp.fc-W.plr-Xs Local Cuisine
					h2.m-0.bg-G__dk.p-Sm.bw-0 Polish
					div.o-H(style='background: url("http://pixel.nymag.com/imgs/slideshows/2012/08/chicago-videos/chivid-polish.nocrop.w670.h455.jpg") no-repeat center center / cover')
						.m-0.p-Sm.bg-Ltst.o-0.an-F.c-P(data-function='toggle', data-event='hover', data-toggle='o-0')
							p.lead With a massive concentration of Poles in Chicago, this is where you can get arguably the best Polish food outside of Poland. While the level’s of English spoken vary from restaurant to restaurant, you can always just point.
							p
								strong Best Place to Get It:&nbsp;
								| Staropolska

				.masonry--item.content-card.p-0.p-R.mt-Md
					.p-A.b-100.r-0.bg-Purp.fc-W.plr-Xs Local Cuisine
					h2.m-0.bg-G__dk.p-Sm.bw-0 BBQ
					div.o-H(style='background: url("http://chicago.seriouseats.com/images/2012/02/20120205-191429-gapersblockpiggeryribs.jpg") no-repeat center center / cover')
						.m-0.p-Sm.bg-Ltst.o-0.an-F.c-P(data-function='toggle', data-event='hover', data-toggle='o-0')
							p.lead Being a part of the midwest, Chicago naturally has a plethora of wonderful Barbecue (BBQ). BBQ is a wonderfully delicious way to cook meat over low heat, usually being accompanied with being smoked.
							p
								strong Best Place to Get It:&nbsp;
								| Honey 1 BBQ, The Piggery (pictured)
							h3 Dishes
							ul
								li Rib Tips
								li Brisket
								li Chicken
								li Any other meat you can think of!

				.masonry--item.content-card.p-0.p-R.mt-Md
					.p-A.b-100.r-0.bg-Purp.fc-W.plr-Xs Local Cuisine
					h2.m-0.bg-G__dk.p-Sm.bw-0 Modern American
					div.o-H(style='background: url("http://chicago.seriouseats.com/images/2012/02/20120205-191429-gapersblockpiggeryribs.jpg") no-repeat center center / cover')
						.m-0.p-Sm.bg-Ltst.o-0.an-F.c-P(data-function='toggle', data-event='hover', data-toggle='o-0')
							p.lead A generation of young, American chefs grew up hearing that American cuisine peaked at a McDonald’s cheeseburger and great food could only be served by a waiter in a tuxedo. They took exception and decided that locally sourced, regionally inspired food with an approachable atmosphere made for an incredible experience. Chicago is one of the best cities in the country to experience this wonderful phenomenon.
							p
								strong Best Place to Get It:&nbsp;
								| The Girl and the Goat, Bangers &amp; Lace

				.masonry--item.content-card.p-0.p-R.mt-Md
					.p-A.b-100.r-0.bg-Red.fc-W.plr-Xs Best Dishes
					h2.m-0.bg-G__dk.p-Sm.bw-0 Tacos
					div.o-H(style='background: url("https://c2.staticflickr.com/4/3630/3361913336_b4c180dfaf_b.jpg") no-repeat center center / cover')
						.m-0.p-Sm.bg-Ltst.o-0.an-F.c-P(data-function='toggle', data-event='hover', data-toggle='o-0')
							p.lead There are really two types of tacos: delicious hipsterfied tacos and delicious traditional tacos. Traditional tacos have a simpler list of ingredients while hipsterfied tacos can fold in new ingredients and flavors. You can’t go wrong either way.
							p
								strong Best Place to Get It:&nbsp;
								| Antique Taco, Big Star Taqueria, Taqueria Sabor y Sazon

				.masonry--item.content-card.p-0.p-R.mt-Md
					.p-A.b-100.r-0.bg-Red.fc-W.plr-Xs Best Dishes
					h2.m-0.bg-G__dk.p-Sm.bw-0 Pierogi
					div.o-H(style='background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Pierogi_z_cebulk%C4%85.jpg/220px-Pierogi_z_cebulk%C4%85.jpg") no-repeat center center / cover')
						.m-0.p-Sm.bg-Ltst.o-0.an-F.c-P(data-function='toggle', data-event='hover', data-toggle='o-0')
							p.lead An Eastern European dish which consists of unleavened dough stuffed with a sweet or savory filling then boiled to cook. Almost like the Polish version of dumplings, you can have these just about anytime you get hungry. 
							p
								strong Best Place to Get It:&nbsp;
								| Pierogi Heaven

				.masonry--item.content-card.p-0.p-R.mt-Md
					.p-A.b-100.r-0.bg-Red.fc-W.plr-Xs Best Dishes
					h2.m-0.bg-G__dk.p-Sm.bw-0 Ramen
					div.o-H(style='background: url("https://s3-media2.fl.yelpcdn.com/bphoto/Ja82cy6FmDCb_IXyDB4CAQ/348s.jpg") no-repeat center center / cover')
						.m-0.p-Sm.bg-Ltst.o-0.an-F.c-P(data-function='toggle', data-event='hover', data-toggle='o-0')
							p.lead This dish is far from instant and full of flavor. Native to Japan, Chicago is one of the few cities in the U.S. that does it justice. A soupy, savory broth full of noodles, usually accompanied by mean, veggies and an egg, Ramen is a must try if you haven’t it had before (and no, out of a packet doesn’t count).
							p
								strong Best Place to Get It:&nbsp;
								| Furious Spoon, Strings Ramen
				
				.masonry--item.content-card.p-0.p-R.mt-Md
					.p-A.b-100.r-0.bg-Orange.fc-W.plr-Xs Drinks!
					h2.m-0.bg-G__dk.p-Sm.bw-0 Malort
					blockquote.instagram-media(data-instgrm-captioned, data-instgrm-version="7", style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);")
						div(style="padding:8px;")
							div(style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;")
								div(style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;")
									p(style=" margin:8px 0 0 0; padding:0 4px;")
										a(href="https://www.instagram.com/p/BMgWXhhjyME/", style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;", target="_blank") If you&#39;re not in Chicago or a bartender, you probably ain&#39;t had this. It&#39;s an experience to say the least. I brought 2 bottles back to California. Would love someone else in #la to experience the #malortface like I have. 😖I might take this to my bar... . . . . . . . . . . . . . . . . . . #Malort #jeppsonsmalort #chicago #bartender #liqueur #cocktails #cocktail #bArtenders #alcohol #drinks #dranks #
									p(style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;") A photo posted by ferrarrr (@ferrarrr) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2016-11-07T10:24:07+00:00">Nov 7, 2016 at 2:24am PST</time>
					script(async, defer, src="//platform.instagram.com/en_US/embeds.js")
					div.o-H(style='background: url("https://upload.wikimedia.org/wikipedia/en/thumb/b/b7/JeppsonsMalort.jpg/440px-JeppsonsMalort.jpg") no-repeat center center / cover')
						.m-0.p-Sm.bg-Ltst.o-0.an-F.c-P(data-function='toggle', data-event='hover', data-toggle='o-0')
							p.lead If you want the true Chicago experience, buy you and your friends a round of Malort. If you want to keep those friends, you might want to pass. This wormwood based liqueur is great if you want to try “The Champagne of pain” or to “Kick your mouth in the balls!”

		.clear
			.hidden-xs.col-sm-3.col-md-2
			.col-xs-12.col-md-10.col-sm-9
				h2 Restaurants
		.clear
			.hidden-xs.col-sm-3.col-md-2
			.masonry.masonry-grid-1.masonry-grid-3--md.col-xs-12.col-md-10.col-sm-9
				.masonry--item.content-card.p-0.p-R.mt-Md
					.p-A.b-100.r-0.bg-Bl.fc-W.plr-Xs Favorite Restaurants
					h2.m-0.bg-G__dk.p-Sm.bw-0 Billy Goat Tavern
					div.o-H(style='background: url("https://fairfieldsuiteschicago.files.wordpress.com/2013/04/tavern1.jpg") no-repeat center center / cover')
						.m-0.p-Sm.bg-Ltst.o-0.an-F.c-P(data-function='toggle', data-event='hover', data-toggle='o-0')
							p.lead Staying true to their mantra, "Cheezborger, Cheezborger, Cheezborger. No Pepsi, Coke. No Fries, Cheeps." this world famous burger joint has been around since 1934 and has been keeping locals coming back ever since.

							h3 What to Have
							p Cheezborger Cheezborger! The Double Cheezborger, or the Triple Cheezborger if you’re really hungry.

							h3 Where is It
							address
								| 430 N. Michigan Ave
								| Below the south end of the Magnificent Mile, under Michicagn Ave.

				.masonry--item.content-card.p-0.p-R.mt-Md
					.p-A.b-100.r-0.bg-Bl.fc-W.plr-Xs Favorite Restaurants
					h2.m-0.bg-G__dk.p-Sm.bw-0 Pequods
					div.o-H(style='background: url("http://www.kailleyskitchen.com/wp-content/uploads/2013/06/pequods.jpg") no-repeat center center / cover')
						.m-0.p-Sm.bg-Ltst.o-0.an-F.c-P(data-function='toggle', data-event='hover', data-toggle='o-0')
							p.lead Pequods isn’t where Trip Advisor will tell you to go, but it IS where anyone from Chicago will. Listed at #2 for Top 5 Pizzas in AMERICA, this truly fantastic pizza is cooked in a fire brick oven and known for its signature caramelized parmesan cheese crust. Pequods is a can’t miss.

							h3 What to Have
							p Deep Dish Pizza, pick whichever ingredients floats your boat and you will go home a happy camper.

							h3 Where is It
							address
								| 2207 N. Clybourn Ave
								| Lincoln Park at Clybourn and Webster

				.masonry--item.content-card.p-0.p-R.mt-Md
					.p-A.b-100.r-0.bg-Bl.fc-W.plr-Xs Favorite Restaurants
					h2.m-0.bg-G__dk.p-Sm.bw-0 DryHop Brewers
					div.o-H(style='background: url("https://static.urbandaddy.com/uploads/assets/image/articles/standard/22731f34fbd8f74f4bd6ba7ff6951b345598ca17.jpg") no-repeat center center / cover')
						.m-0.p-Sm.bg-Ltst.o-0.an-F.c-P(data-function='toggle', data-event='hover', data-toggle='o-0')
							p.lead A local brewpub whose taps change more often than a Facebook status update. Always brewing something new, they also have an incredible Whiskey list and one of the best burgers in town.
							h3 Where Is It?
							address
								| 3155 N. Broadway
								| Off the Belmont stop from the Red, Brown, or Purple line

	// Peters Stuff
	//.container.ptb-Sm
		.row
			.col-xs-3
				.content-card.pb-0
					h2 Sections
					ol.mtb-Sm
						li Types of American Food
							ul.fs-Xs.ls-Lr
								li Traditaional American Cuisine
								li American BBQ
								li TextMex (Mexican Food)
								li Health Food
								li Deli
						li Appetizers
						li Main Dishes
						li Local Fruits and Vegetables 
						li Desserts
						li Drinks 
			.col-xs-9
				.content-card
					h2 
						a.fc-G__lt(href="www.nhl.com") Types of American Food
					ol.ls-N.p-N.mlr-NegSm
						li
							.row.d-F.pl-Xs
								.col-xs-12.ta-C
									h3 Traditional American Cuisine
							.row.d-F.pl-Xs
								.col-xs-12.plr-Md.mb-Sm
									span <img src="https://placebear.com/640/240">
							.row.d-F.pl-Xs
								.col-xs-12.plr-Md.mb-Xs
									p Perhaps nothing better characterizes the melting pot of American culture more than the food. It really is an amalgamation of food from around the world so making generalizations can be difficult. With that said, if one thing characterizes American food it's the large portions. Being full and satisfied is far more important than being healthy. Meals are typically served with some kind of meat and bread. Processed food is very common in the States. 
									Strong Popular Disshes: 
									| Hamburgers, pizza, sandwiches, mac-and-cheese, hotdogs 
						li.bg-G__ltr
							.row.d-F.pl-Xs
								.col-xs-12.ta-C
									h3 American BBQ
							.row.d-F.pl-Xs
								.col-xs-12.plr-Md.mb-Sm
									span <img src="https://placebear.com/640/240">
							.row.d-F.pl-Xs
								.col-xs-12.plr-Md.mb-Xs
									p No type of food is more quintessentially American than BBQ.  While each region will have its own distinct flavor, there are a few common elements you’ll find no matter where you are. BBQ (barbeque) is a cooking technique that cooks meat slowly, usually with indirect contact from smoke, to bring out the flavor of the meat. Often served buffet (or family style) BBQ joints tend to be casual and offer a good glimpse at American hospitality.
									Strong Popular Disshes: 
									| Ribs, pulled pork
						li
							.row.d-F.pl-Xs
								.col-xs-12.ta-C
									h3 TexMex (or Mexican Food)
							.row.d-F.pl-Xs
								.col-xs-12.plr-Md.mb-Sm
									span <img src="https://placebear.com/640/240">
							.row.d-F.pl-Xs
								.col-xs-12.plr-Md.mb-Xs
									p America’s friends from the South have added a lot of flavor to the American palette. Most Mexican food found in America (sometimes referred to as TexMex) should not be confused with authentic Mexican food. It is its own unique blend of beans, rice, guacamole, salsa, and meat. The Mexican food you’ll find in the States tends to have milder spices though there are certainly opportunities to spicen it up for the more courageous.
									Strong Popular Disshes: 
									| Burritos, tacos, nachos, enchiladas 
		//TESTING
		div.panel-group#accordion2(role="tablist" aria-multiselectable="true")
			div.panel.panel-default
				div.panel-heading.bg-Purp.p-N(role="tab" id="headingTwo")
					.text-wings
						span.ta-L
							h2.panel-title
								i.fa.fa-chevron-down.p-Sm
								a(role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo") Main Dishes
						hr.w-A
			.div#collapseTwo.panel-collapse.collapse.in.m-0(role="tabpanel" aria-labelledby="headingTwo")
				div
					.row
						.col-xs-9
							.content-card#collapseOne.panel-collapse.collapse.in.m-0.mt-Sm(role="tabpanel" aria-labelledby="headingOne")
								div
									.row
										ul.nav.nav-tabs.bw-N(role="tablist")
											li.active.col-xs-6.ta-C.p-0(role="presentation")
												a(href="#verified", aria-controls="verified", role="tab", data-toggle="tab") Verified
											li.col-xs-6.ta-C.p-0(role="presentation")
												a(href="#community", aria-controls="community", role="tab", data-toggle="tab") Community
									div.tab-content
										ol.ls-N.p-N.tab-pane.active#verified(role="tabpanel")
											li
												span.lh-1.fc-Gr <img src="https://placebear.com/620/220">
												h3.d-IB.pr-Xs.m-0.lh-1 Hamburger
												| /Hamburguesa
												p If there is one food that epitomizes American sensibilities, it is the hamburger. Sure, this dish can be found around the globe but no one does it quite like the Americans (or quite as well). Throughout the States there are local restaurants competing for the best burger in town so be sure to find a non-chain. American hamburgers are served with a beef patty, buns, lettuce, onions, tomatoes, pickles, and ketchup. When cheese is added (typically cheddar) it becomes a cheeseburger.
												ul
													li
														Strong.pr-Xs Tip:
														| Ask for it cooked well-done. While many Americans choose to have it served medium, hamburger meat is processed and often contains bacteria.
													li
														Strong.pr-Xs Contains:
														| Beef, grains 
													li
														Strong.pr-Xs Cuisine:
														| Traditional American
													li
														Strong.pr-Xs Flavor:
														| N/A
										div.tab-pane#community(role="tabpanel")
											ol.ls-N.p-N.tab-pane.active#verified(role="tabpanel")
												li
													.row.d-F.plr-Sm.mtb-Xs
														.col-xs-2.col-sm-1.ta-C
															span.fs-48.lh-1.fc-Gr 1
														.col-xs-3
															span.lh-1.fc-Gr <img src="https://placebear.com/120/120">
														.col-xs-7.col-sm-8
															h3.d-IB.pr-Xs.m-0.lh-1 Test Format
															| /Hamburguesa
															p If there is one food that epitomizes American sensibilities, it is the hamburger. Sure, this dish can be found around the globe but no one does it quite like the Americans (or quite as well). Throughout the States there are local restaurants competing for the best burger in town so be sure to find a non-chain. American hamburgers are served with a beef patty, buns, lettuce, onions, tomatoes, pickles, and ketchup. When cheese is added (typically cheddar) it becomes a cheeseburger.
															ul
																li
																	Strong.pr-Xs Tip:
																	| Ask for it cooked well-done. While many Americans choose to have it served medium, hamburger meat is processed and often contains bacteria.
																li
																	Strong.pr-Xs Contains:
																	| Beef, grains 
																li
																	Strong.pr-Xs Cuisine:
																	| Traditional American
																li
																	Strong.pr-Xs Flavor:
																	| N/A