extends ../../layout.pug

block content
	.media-bg-img.request-page-header
		h1= "Food and Drinks in " + city.names.display

	.container.ptb-Sm
		.row
			.col-xs-3
				.content-card.pb-0
					h2 Sections
					ol.mtb-Sm
						li Types of American Food
							ul.fs-Xs.ls-Lr
								li Traditaional American Cuisine
								li American BBQ
								li TextMex (Mexican Food)
								li Health Food
								li Deli
						li Appetizers
						li Main Dishes
						li Local Fruits and Vegetables 
						li Desserts
						li Drinks 
			.col-xs-9
				.content-card
					h2 
						a.fc-G__lt(href="www.nhl.com") Types of American Food
					ol.ls-N.p-N.mlr-NegSm
						li
							.row.d-F.pl-Xs
								.col-xs-12.ta-C
									h3 Traditional American Cuisine
							.row.d-F.pl-Xs
								.col-xs-12.plr-Md.mb-Sm
									span <img src="https://placebear.com/640/240">
							.row.d-F.pl-Xs
								.col-xs-12.plr-Md.mb-Xs
									p Perhaps nothing better characterizes the melting pot of American culture more than the food. It really is an amalgamation of food from around the world so making generalizations can be difficult. With that said, if one thing characterizes American food it's the large portions. Being full and satisfied is far more important than being healthy. Meals are typically served with some kind of meat and bread. Processed food is very common in the States. 
									Strong Popular Disshes: 
									| Hamburgers, pizza, sandwiches, mac-and-cheese, hotdogs 
						li.bg-G__ltr
							.row.d-F.pl-Xs
								.col-xs-12.ta-C
									h3 American BBQ
							.row.d-F.pl-Xs
								.col-xs-12.plr-Md.mb-Sm
									span <img src="https://placebear.com/640/240">
							.row.d-F.pl-Xs
								.col-xs-12.plr-Md.mb-Xs
									p No type of food is more quintessentially American than BBQ.  While each region will have its own distinct flavor, there are a few common elements you’ll find no matter where you are. BBQ (barbeque) is a cooking technique that cooks meat slowly, usually with indirect contact from smoke, to bring out the flavor of the meat. Often served buffet (or family style) BBQ joints tend to be casual and offer a good glimpse at American hospitality.
									Strong Popular Disshes: 
									| Ribs, pulled pork
						li
							.row.d-F.pl-Xs
								.col-xs-12.ta-C
									h3 TexMex (or Mexican Food)
							.row.d-F.pl-Xs
								.col-xs-12.plr-Md.mb-Sm
									span <img src="https://placebear.com/640/240">
							.row.d-F.pl-Xs
								.col-xs-12.plr-Md.mb-Xs
									p America’s friends from the South have added a lot of flavor to the American palette. Most Mexican food found in America (sometimes referred to as TexMex) should not be confused with authentic Mexican food. It is its own unique blend of beans, rice, guacamole, salsa, and meat. The Mexican food you’ll find in the States tends to have milder spices though there are certainly opportunities to spicen it up for the more courageous.
									Strong Popular Disshes: 
									| Burritos, tacos, nachos, enchiladas 
		//TESTING
		div.panel-group#accordion2(role="tablist" aria-multiselectable="true")
			div.panel.panel-default
				div.panel-heading.bg-Purp.p-N(role="tab" id="headingTwo")
					.text-wings
						span.ta-L
							h2.panel-title
								i.fa.fa-chevron-down.p-Sm
								a(role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo") Main Dishes
						hr.w-A
			.div#collapseTwo.panel-collapse.collapse.in.m-0(role="tabpanel" aria-labelledby="headingTwo")
				div
					.row
						.col-xs-9
							.content-card#collapseOne.panel-collapse.collapse.in.m-0.mt-Sm(role="tabpanel" aria-labelledby="headingOne")
								div
									.row
										ul.nav.nav-tabs.bw-N(role="tablist")
											li.active.col-xs-6.ta-C.p-0(role="presentation")
												a(href="#verified", aria-controls="verified", role="tab", data-toggle="tab") Verified
											li.col-xs-6.ta-C.p-0(role="presentation")
												a(href="#community", aria-controls="community", role="tab", data-toggle="tab") Community
									div.tab-content
										ol.ls-N.p-N.tab-pane.active#verified(role="tabpanel")
											li
												span.lh-1.fc-Gr <img src="https://placebear.com/620/220">
												h3.d-IB.pr-Xs.m-0.lh-1 Hamburger
												| /Hamburguesa
												p If there is one food that epitomizes American sensibilities, it is the hamburger. Sure, this dish can be found around the globe but no one does it quite like the Americans (or quite as well). Throughout the States there are local restaurants competing for the best burger in town so be sure to find a non-chain. American hamburgers are served with a beef patty, buns, lettuce, onions, tomatoes, pickles, and ketchup. When cheese is added (typically cheddar) it becomes a cheeseburger.
												ul
													li
														Strong.pr-Xs Tip:
														| Ask for it cooked well-done. While many Americans choose to have it served medium, hamburger meat is processed and often contains bacteria.
													li
														Strong.pr-Xs Contains:
														| Beef, grains 
													li
														Strong.pr-Xs Cuisine:
														| Traditional American
													li
														Strong.pr-Xs Flavor:
														| N/A
										div.tab-pane#community(role="tabpanel")
											ol.ls-N.p-N.tab-pane.active#verified(role="tabpanel")
												li
													.row.d-F.plr-Sm.mtb-Xs
														.col-xs-2.col-sm-1.ta-C
															span.fs-48.lh-1.fc-Gr 1
														.col-xs-3
															span.lh-1.fc-Gr <img src="https://placebear.com/120/120">
														.col-xs-7.col-sm-8
															h3.d-IB.pr-Xs.m-0.lh-1 Test Format
															| /Hamburguesa
															p If there is one food that epitomizes American sensibilities, it is the hamburger. Sure, this dish can be found around the globe but no one does it quite like the Americans (or quite as well). Throughout the States there are local restaurants competing for the best burger in town so be sure to find a non-chain. American hamburgers are served with a beef patty, buns, lettuce, onions, tomatoes, pickles, and ketchup. When cheese is added (typically cheddar) it becomes a cheeseburger.
															ul
																li
																	Strong.pr-Xs Tip:
																	| Ask for it cooked well-done. While many Americans choose to have it served medium, hamburger meat is processed and often contains bacteria.
																li
																	Strong.pr-Xs Contains:
																	| Beef, grains 
																li
																	Strong.pr-Xs Cuisine:
																	| Traditional American
																li
																	Strong.pr-Xs Flavor:
																	| N/A