extends ../../layout.pug

block content
	.media-bg-img.request-page-header
		h1='Pedros Version ' + city.names.display   
	.container.ptb-Sm

		.row
			.col-xs-2
				.content-card.pb-0
					h2 Sections
					ol.mtb-Sm
						li General Travel Advice
						li Border Crossing
						li Cars and Automobiles
						li Planes
						li Trains
						li Buses
			.col-xs-8
				.content-card
					h3 Overview
					p When talking about travel across the United States there is really only one option that allows travelers the ability to see attractions scattered over a great distance: the car. While planes are undoubtedly the most expedient option for traveling between cities, many of the States’ best attractions are in remote areas that are only accessible by cars. On top of that, outside the major US cities public transit can be so limited that it is virtually impossible to see a city’s attractions without the use of a car. So if you are visiting the US with the intention of seeing as much of the country as possible, have a lot of time and aren’t limiting yourself to major cities, traveling by car is your best option.
					.div.panel-group#transitOverview(role="tablist" aria-multiselectable="true")
						.div.panel
							.div.panel-heading(role="tab" id="overviewText")
								p.panel-title   
									a.fw-B(role="button" data-toggle="collapse" data-parent="#transitOverview" href="#collapseText" aria-expanded="true" aria-controls="collapseText") Read More
							.div#collapseText.panel-collapse.collapse.in(role="tabpanel" aria-labelledby="overviewText")
								.div.panel-body
								p s the United States there is really only one option that allows travelers the ability to see attractions scattered over a great distance: the car. While planes are undoubtedly the most expedient option for traveling between cities, many of the States’ best attractions are in remote areas that are only accessible by cars. On top of that, outside the major US cities public transit can be so limited that it is virtually impossible to see a city’s attractions without the use of a car. So if you are visiting the US with the intention of seeing as much of the country as possible, have a lot of time and aren’t limiting yourself to major cities, traveling by car is your best option.

		

		//General Advice
		div.panel-group#accordion(role="tablist" aria-multiselectable="true")
			div.panel.panel-default
				div.panel-heading.bg-Purp.p-N(role="tab" id="headingOne")
					.text-wings
						span.ta-L
							h2.panel-title
								i.fa.fa-chevron-down.p-Sm
								a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne") General Travel Advice
						hr.w-A
			.div#collapseOne.panel-collapse.collapse.in.m-0(role="tabpanel" aria-labelledby="headingOne")
				div
					.row
						.col-xs-12.col-sm-6.col-md-4
							.content-card
								h2 Entery Requirements
								p
								h3.pb-Xs.m-0.lh-1 Visa
								p While many countries are exempt, the US requires visas for most foreign travelers. Check the US State Deparment for most up-to-date information  
									a.fw-B(href="https://travel.state.gov/content/travel/en.html") here
								h3.pb-Xs.m-0.lh-1 Vaccines	
								p US Customs closely monitors travelers coming into the country. Check your country for specific requirements before travelling to the US
								p
									strong Entry Fee:
									|	No entry fees
								p
									strong Exit Fee
									|	No exit fees
						.col-xs-8
							.content-card#collapseOne.panel-collapse.collapse.in.m-0.mt-Sm(role="tabpanel" aria-labelledby="headingOne")
								div
									.row
										ul.nav.nav-tabs.bw-N.mb-Sm(role="tablist")
											li.active.col-xs-6.ta-C.p-0(role="presentation")
												a(href="#verified", aria-controls="verified", role="tab", data-toggle="tab") Verified
											li.col-xs-6.ta-C.p-0(role="presentation")
												a(href="#community", aria-controls="community", role="tab", data-toggle="tab") Community
									div.tab-content
										ol.ls-N.p-N.tab-pane.active#verified(role="tabpanel")
											li.d-F.mt-Sm
												span.pr-Sm.fs-48.lh-1.fc-Gr 1
												div
													h3.m-0.lh-1 Travel By Car to See the Country
													p Cars are great for travelers with a lot of time, want to see as much of the country as possible and aren’t just interested in major cities. Since many of the best attractions are found outside cities, cars are the best option to see all the major sites.
											li.d-F
												span.pr-Sm.fs-48.lh-1.fc-Gr 2
												div
													h3.m-0.lh-1 Fly to Save Time  
													p For travelers that are really just interested in seeing the major metropolitan cities, plane makes the most sense. It will be far cheaper in terms of time and money saved to travel by plan and in the large cities attractions are generally accessible by public transit. But you will have 
														a.fw-B(href="nhl.com") Read More
														//p difficulty seeing the many attractions outside of the metropolitan areas. 
											li.d-F.mt-Sm
												span.pr-Sm.fs-48.lh-1.fc-Gr 3
												div
													h3.m-0.lh-1 Trains Are Comparitively Bad 
													p Don't assume that because the US is a developed nation its rail system must be advanced as well. Unlike most of the developed world, the trains in the US are poorly maintained and unreliable. 
										div.tab-pane#community(role="tabpanel")
											ul.ls-N.p-N.tab-pane.active#verified(role="tabpanel")
												li
													.row.d-F.plr-Sm
														.col-xs-2.col-sm-1.ta-C.fas-C.ta-R
															span.fs-48.lh-1.fc-Gr 1
														.col-xs-7.col-sm-8
															h3.pt-Sm.m-0.lh-1 Expansive Country Makes Travel Expensive
															p Traveling the US is expenseive both in terms of cash and time. As the world's 3rd largest country there is a lot of land to cover, and there is no real cheap option to see it all.
													.row.pt-Xs.bg-G__ltst--md
														.col-xs-6
															p j_Sakic
														.col-xs-3
															button.d-IB.mr-Xs
																i.fa.fa-thumbs-up
															p.d-IB 1,022
														.col-xs-3
															button.d-IB.mr-Xs
																i.fa.fa-thumbs-down
															p.d-IB 1,022
												li.bg-G__ltr
													.row.d-F.plr-Sm
														.col-xs-2.col-sm-1.ta-C.fas-C.ta-R
															span.fs-48.lh-1.fc-Gr 2
														.col-xs-7.col-sm-8
															h3.pt-Sm.m-0.lh-1 Fly to Your Regions
															p Flying to a specific region and then renting a car might be one of your best options. 
													.row.pt-Xs.bg-G__ltst--md
														.col-xs-3
															p p_Forsberg
														.col-xs-6
															button.d-IB.mr-Xs
																i.fa.fa-thumbs-up
															p.d-IB 1,022
														.col-xs-3
															button.d-IB.mr-Xs
																i.fa.fa-thumbs-down
															p.d-IB 1,022
												li
												.row.ptb-Xs.bg-Gr
													.col-xs-1
													.col-xs-11
														h3.m-0.lh-1 This is Just a Test
												.row.d-F
													.col-xs-1
														span.fs-48.lh-1.fc-Gr 4
													.col-xs-11
														p With many of the city's sites closely packed together this is an easy city to get around by foot and public transit (not so great for cars)
												.row.pt-Xs.bg-G__ltst--md
													.col-xs-8
														p j_Sakic
													.col-xs-2
														button.d-IB.mr-Xs
															i.fa.fa-thumbs-up
														p.d-IB 1,022
													.col-xs-2
														button.d-IB.mr-Xs
															i.fa.fa-thumbs-down
														p.d-IB 1,022
		//Border Crossing
		div.panel-group#accordion2(role="tablist" aria-multiselectable="true")
			div.panel.panel-default
				div.panel-heading.bg-Purp.p-N(role="tab" id="headingTwo")
					.text-wings
						span.ta-L
							h2.panel-title
								i.fa.fa-chevron-down.p-Sm
								a(role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo") Border Crossing
						hr.w-A
			.div#collapseTwo.panel-collapse.collapse.in.m-0(role="tabpanel" aria-labelledby="headingTwo")
				div
					.row
						.col-xs-10
							.content-card
								.col-xs-3
									h3 Entry Points
									p
										strong Niagra Falls 
										|	Relatively lax. Searches are in frequent but passport is required. 
									p
										strong Sault Ste Marie
										|	Popular crossing that requires passport. Vehicle searches are not uncommon. 
									p
										strong Tijuana
										|	This crossing into Mexico is busy and highly scrutinzed. Passports are required. 
								.col.xs-7.pb-Sm
									span <img src="https://placebear.com/540/320">
						.col-xs-10
							.content-card#collapseOne.panel-collapse.collapse.in.m-0.mt-Sm(role="tabpanel" aria-labelledby="headingOne")
								div
									.row
										ul.nav.nav-tabs.bw-N(role="tablist")
											li.active.col-xs-6.ta-C.p-0(role="presentation")
												a(href="#verified", aria-controls="verified", role="tab", data-toggle="tab") Verified
											li.col-xs-6.ta-C.p-0(role="presentation")
												a(href="#community", aria-controls="community", role="tab", data-toggle="tab") Community
									div.tab-content.plr-Lg
										ol.ls-N.p-N.tab-pane.active#verified(role="tabpanel")
											li.d-F.mt-Sm
												span.pr-Sm.fs-48.lh-1.fc-Gr 1
												div
													h3.m-0.lh-1 Passport Required
														small 	p_forsberg21
													p A passport is required to enter or exit the United States. Customs will ask standard questions including what is the purpose of your visit; how long do you intend to stay; and where will you be going. If the agent senses anything suspicious in your response or appearance they will search you and your items (so for those traveling by car that means your vehicle). While the Southern border shared with Mexico tends to show more scrutiny than the Norther Canadian border, at either border agents can and will perform searchers.  
											li.d-F
												span.pr-Sm.fs-48.lh-1.fc-Gr 2
												div
													h3.m-0.lh-1 Canadian Border 
														small 	j_sakic19
													p This northern border is not heavily scrutinized. With that said, busy controls can take over an hour to cross and some vehicles are randomly selected for search.
											li.d-F
												span.pr-Sm.fs-48.lh-1.fc-Gr 3
												div
													h3.m-0.lh-1 Mexican Border 
														small 	j_sakic19
													p The southern border is a source of political tension. With many people illegally crossing this border it is tightly monitored. A passport is all that is required to cross, however, there is an increased chance of being searched and qeustioned. 
										div.tab-pane#community(role="tabpanel")
											p Well this is finally working
		//Driving in the US
		div.panel-group#accordion3(role="tablist" aria-multiselectable="true")
			div.panel.panel-default
				div.panel-heading.bg-Purp.p-N(role="tab" id="headingThree")
					.text-wings
						span.ta-L
							h2.panel-title
								i.fa.fa-chevron-down.p-Sm
								a(role="button" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree") Driving in the US
			.div#collapseThree.panel-collapse.collapse.in.m-0(role="tabpanel" aria-labelledby="headingThree")
				div
					.row
						.col-xs-12.col-sm-6.col-md-4
							.content-card
								h2 Traffic Laws
								p
									strong Right Side 
									|	Like most of the world, the US drives on the right side of the road
								p
									strong MPH
									|	Speed is measured in miles. 
								p
									strong Enforcement
									|	Each state has slightly different laws but enforcement is stringent compared to other countries.
						.col-xs-8
							.content-card#collapseOne.panel-collapse.collapse.in.m-0.mt-Sm(role="tabpanel" aria-labelledby="headingOne")
								div
									.row
										ul.nav.nav-tabs.bw-N(role="tablist")
											li.active.col-xs-6.ta-C.p-0(role="presentation")
												a(href="#verified", aria-controls="verified", role="tab", data-toggle="tab") Verified
											li.col-xs-6.ta-C.p-0(role="presentation")
												a(href="#community", aria-controls="community", role="tab", data-toggle="tab") Community
									div.tab-content
										ol.ls-N.p-N.tab-pane.active#verified(role="tabpanel")
											li.d-F.mt-Sm
												span.pr-Sm.fs-48.lh-1.fc-Gr 1
												div
													h3.m-0.lh-1 Road Quality  
													p Roads in the United States are some of the best in the world though the quality certainly varies from state to state (and even city to city). In general, the roads are well maintained though states that endure harsh winters (the northern states) typically have more potholes than states with milder climates.   
											li.d-F
												span.pr-Sm.fs-48.lh-1.fc-Gr 2
												div
													h3.m-0.lh-1 Traffic Laws
													p How aggressively traffic laws are enforced can vary significantly from county to county within a state. As a general rule major cities tend to aggressively enforce traffic light, stop sign and pedestrian crosswalk violations (they are also very strict about parking violations). Many cities have speed cameras setup at lights to catch drivers running lights. The highways are patrolled by State police looking for speeding cars. While most counties show some leniency with how fast above the speed limit you can go, the general rule of thumb is anything more than 10miles is considered dangerous and 5 miles above is typically considered safe.  
											li.d-F
												span.pr-Sm.fs-48.lh-1.fc-Gr 3
												div
													h3.m-0.lh-1 Driving Style 
													p Drivers in the States tend to follow the rules of the road (both the law and unspoken rules). The left lane is the passing lane or the fast lane. Don’t drive slow in the left lane.
											li.d-F
												span.pr-Sm.fs-48.lh-1.fc-Gr 4
												div
													h3.m-0.lh-1 Rentals 
													p There are numerous rental companies and airports will have offices with the major providers. Rental companies typically limit different destination drop-offs though some do allow it. For the providers that do allow a different destination drop-off, they will usually levy a hefty fee and limit it to airports locations.  
											li.d-F
												span.pr-Sm.fs-48.lh-1.fc-Gr 5
												div
													h3.m-0.lh-1 Tolls
													p Outside of the Northeast, tolls are not very common in the US. If you are traveling in that region and renting a car, be sure to make sure your car has an EZPass. Drivers with EZPass are automatically charged on the freeways and do not need to drive through the Cash Only lanes which can take quite a bit of time to go through. 
											li.d-F
												span.pr-Sm.fs-48.lh-1.fc-Gr 6
												div
													h3.m-0.lh-1 The Highway System
													p The highway system is an impressive and extensive network of interstate roads connecting the entire nation in a relatively straightforward grid. The ease of travel has led to the popularity of road trips and offers one of the best ways to explore the country while enjoying its scenery. Understanding the highway numbering system can assist with directions. Outside of cities the interstate roads follow a two digit numbering convention: 
														ul
															li
																strong.d-IB East to West
																p.d-IB roads that are even numbered typically indicate the highway runs from East to West with major routes ending in 0. Lower numbers tend to be in the East and higher numbers are typically found in the West. 
															li
																strong.d-IB North to South
																p.d-IB odd numbered highways are reserved for routes that run North to South with major routes ending with 1. Lower numbered highways tend to be found in the North.
															li
																strong.d-IB Three Digit Routes
																p.d-IB The highways surrounding cities, often referred to as beltways, add an additional prefix number. There can be multiple beltways that use the same parent interstate in a state so to differentiate the beltways different prefix is used. The beltway must be unique within a state but not necessarily nationally. 
															li
																strong.d-IB Exit Markers
																p.d-IB There are two different ways states label their exit signs: (1) consecutive numbering and (2) mileage. Consecutive numbering starts at either the Western or Southern most point of the state and numbers the exits consecutively starting from 1. The mileage option starts at the Western or Southern most point of the state and counts the miles from that point and labels the exit based on that distance.  
										div.tab-pane#community(role="tabpanel")
											p Well this is finally working 	

		