.tabbed-nav{
	margin: @gw-Sm auto 0;
	display: flex;
}
	.tabbed-nav--tab{
		display: inline-block;
		background: rgba(0, 0, 0, .5);
		border: none;
		transition: background .13s ease-out;
		color: white;
		font-weight: normal;
		font-size: .8em;
		padding: @gw-Sm @gw-Xs;
		text-overflow: ellipsis;
		overflow: hidden;
		min-width: 14%;

		&[aria-expanded='true'], &.active{
			background: rgba(100, 100, 100, .5);
		}

		&:hover{
			background: rgba(50, 50, 50, .5);	
		}

		&:hover, &:active, &:focus{
			color: white;
		}
	}

	.tabbed-nav--tabpanel{
		width: 100%;
	}

@media (min-width: @screen-Sm) {
	.tabbed-nav{
		max-width: @site-width;
		display: block;
	}
		.tabbed-nav--tab{
			font-size: 1em;
			padding: @gw-Sm @gw-Md;
			min-width: 0;
		}
}