.z-A { z-index: auto; }
.z-1 { z-index: 1; }
.z-Neg1 { z-index: -1; }

@media (min-width: @screen-Sm){
	.z-A--sm { z-index: auto; }
	.z-1--sm { z-index: 1; }
	.z-Neg1--sm { z-index: -1; }
}

@media (min-width: @screen-Md){
	.z-A--md { z-index: auto; }
	.z-1--md { z-index: 1; }
	.z-Neg1--md { z-index: -1; }
}