extends ../../layout

block content
	h1 Add a new Country Region

	form(method='POST', action='/country-regions/new')
		fieldset
			legend Country Region

			.row
				.col-sm-6.col-xs-12
					.form-group
						label(for='CountryRegionName') Name
						input.form-control#CountryRegionName(name='name', type='text', placeholder='name', required)
			.row
				.col-sm-6.col-xs-12
					.form-group
						label(for='CountryRegionContinet') Country it resides in 
						select.form-control#CountryRegionCountry(name='country', required)
							-for (i in countries)
								option(value= countries[i].Id)= countries[i].name
								
			.form-group.text-right
				input.btn.btn-primary(type='submit', value='submit')