[data-function*='interiorNav'] {
	margin: 0 -@gw-Md;
	z-index: 2;
	white-space: nowrap;
	position: relative;

	> [role='tab']{
		background: white;
		padding: @gw-Sm;
		display: inline-block;
		border-right: 1px solid @grey;
	}
		h3{
			font-weight: normal;
			margin: 0;
		}

	a{
		color: @grey-dark;
		display: block;
		font-weight: normal;
		padding: @gw-Xs;
	}
		.active{
			color: @purple;
			border-left: 3px solid @purple;
			margin-left: -3px;
		}

	[role='tabpanel']{
		background: @grey-lightest;
		padding: 0;
		list-style: none;
		position: absolute;
		top: 100%;
		left: 0;

		a {
			&:hover{
				border-bottom: 3px solid @purple-light;
				margin-bottom: -3px;
			}
		}
	}
		li {
			border: 1px solid @grey-dark;
			display: inline-block;
		}
}

@media(min-width: @screen-Sm) {
	[data-function*='interiorNav'] {
		margin: 0;
		white-space: inherit;

		> [role='tab']{
			background: none;
			display: block;
			padding: 0 0 0 @gw;
			border: none;
		}
			h3{
				margin: 20px 0 6px;
				font-weight: normal;
			}

		a{
			color: @grey-dark;
			display: block;
			font-weight: normal;
			padding: 0 0 0 @gw-Sm;

			&:hover{
				border-left: 3px solid @purple-light;
				margin-left: -3px;
			}

			&:focus {
				outline: none;
			}
		}
			.active{
				color: @purple;
				border-left: 3px solid @purple;
				margin-left: -3px;
			}

		[role='tabpanel']{
			background: none;
			margin: 0 0 0 @gw-Lg;
			padding: 0;
			list-style: none;
			position: static;

			a {
				&:hover{
					border-bottom: none;
					margin-bottom: 0;
				}
			}
		}
			li {
				display: block;
				border: none;
			}
	}
}