@media(min-width: @screen-Sm) {
	[data-function*='interiorNav'] {
		white-space: inherit;
		position: static;

		> [role='tab']{
			background: none;
			display: block;
			padding: 0 0 0 @gw;
			border: none;
			max-width: none;

			&.active {
				background: none;
				padding-left: @gw - 3px;
			}

			&:hover{
				padding-left: @gw - 3px;
			}
		}
			h3{
				margin: @gw-Sm 0 @gw-Xs;
				font-weight: normal;
			}

		a{
			color: @grey-dark;
			display: block;
			font-weight: normal;
			padding: 0 0 0 @gw-Sm;

			&:hover{
				border-left: 3px solid @purple-light;
				padding-left: @gw-Sm - 3px;
			}

			&:focus {
				outline: none;
			}
		}
			.active{
				color: @purple;
				border-left: 3px solid @purple;
				padding-left: @gw-Sm - 3px;
			}

		[role='tabpanel']{
			background: none;
			margin: 0 0 0 @gw-Lg;
			padding: 0;
			list-style: none;
			position: static;

			a {
				&:hover{
					border-bottom: none;
					margin-bottom: 0;
				}

				&.active {
					background: none;
				}
			}
		}
			li {
				display: block;
				border: none;
				max-width: none;
			}
	}
}