if isMe
	div(duck-type='object', class=startInEditMode ? 'guide-card--edit-mode' : '')
		button.btn.btn-primary.guide-card--add-card(duck-button='add', duck-add='before', class= startInEditMode ? '' : 'hidden')
			i.fa.fa-plus(aria-hidden='true')
		.input-group.guide-card--admin.js-card(class=`guide-card--${card.style || 'big'}`)
			button.btn.btn-default.guide-card--edit-toggle.js-card-toggle: i.fa.fa-pencil(aria-hidden='true')
			.input-group-addon(data-sort='handle')
				i.fa.fa-arrows-v(aria-hidden='true')
			.panel.panel-default(data-function='accordion', data-position= offset)
				.panel-heading(role='tab', aria-expanded='true'): h2.panel-title.js-card-title= card.title || 'New Card'
				.p-0(role='tabpanel', aria-hidden='false')
					.panel-body
						.row
							include cardForm.pug
									
					.panel-footer.text-right
						button.btn.btn-danger.js-delete-card Delete Card
						button.btn.btn-primary(duck-button='submit') Save
		.alert.alert-danger.guide-card--delete-confirm.js-delete-card-form
			h4 Are You Sure You Want to Delete this Card?
			p.mb-Md Once deleted, you can refresh the page to get it back, but if you save your changes, it will be deleted forever.
			button.btn.btn-danger(duck-button='delete') Delete Card
			button.btn.btn-default.js-cancel-delete Cancel
	//.input-group-btn
		button.btn.btn-info.js-card-toggle
			i.fa.fa-eye(aria-hidden='true')
			span.sr-only Preview
				
else
	if card.style === 'section'
		include section.pug

	if card.style === 'sub'
		include sub.pug
	
	if !card.style || card.style === 'big'
		include big.pug
	
	if card.style === 'small'
		include small.pug
	
	if card.style === 'img'
		include img.pug
	
	if card.style === 'plain'
		include plain.pug
	
	if card.style === 'white'
		include white.pug
	
	if card.style === 'danger'
		include danger.pug
	
	if card.style === 'success'
		include success.pug
	
	if card.style === 'info'
		include info.pug