.guide-card.guide-card__attraction
	.guide-card--content
		.guide-card--img-wrapper
			img.guide-card--img.js-card-image(src= getImagePath(card.image))
		.guide-card--info
			h2.guide-card--header.js-card-title= card.title || 'Card Title'
			.guide-card--description.js-card-text!= card.text || 'This is where the <strong>Text</strong> for the card will go.'