.guide-card--card(class=`guide-card--card__${card.style}`, data-position= offset)
	.guide-card--body
		img.guide-card--img.js-card-image(src= getImagePath(card.image))
		h3.guide-card--title.js-card-title= card.title || 'Card Title'
		.guide-card--text.js-card-text!= card.text || 'This is where the <strong>Text</strong> for the card will go.'