+formStart(guide, 'Guides', wysiwygHasData(getNested(guide, 'highlights', 0, 'description')))
	h2.fc-G(data-position=`0.${visibleGuideSecions++}`) Highlights
		+editButton()(class='f-R mt-NegSm mr-NegSm bg-W')

	+view
		.masonry.masonry-grid-1.masonry-grid-2--sm.masonry-grid-3--md.masonry-grid-4--lg
			for highlight in guide.highlights ? guide.highlights : []
				.masonry--item
					+card(highlight.cardImage, highlight.title, null, null, highlight.description)
	+edit
		+array(null, 'highlights', 'Highligts', 'Add Highlight')
			for highlight in guide.highlights ? guide.highlights : [{}]
				+object(null, 'Link Highlight to Existing Item')
					+select(highlight, 'table', 'Highlight Type (only use if you are linking to another, existing location/attraction)', tablesList)
					+string(highlight, 'Id', 'Id of Linked Highlight (only use if you are linking to another, existing location/attraction)')
					+string(highlight, 'title', 'Title (optional if linked above)')
					+image(highlight, 'cardImge', 'Image (optional if linked above)')
					+wysiwyg(highlight, 'description', 'Description (optional if linked above)')