.guide-card--card(class=`guide-card--card__plain`)
	if card.title
		h4.guide-card--title.js-card-title= card.title
	.guide-card--body
		.guide-card--text.js-card-text!= card.text || isMe ? 'This is where the <strong>Text</strong> for the card will go.' : ''