.guide-card--card(class=`guide-card--card__sub`, data-position= offset)
	.guide-card--body
		h3.guide-card--title.js-card-title(class= card.title ? '' : 'guide-card--placeholder')= card.title ? card.title : 'Card Title'