.test-test{height: 34px;}
	.test-test:after{
		content: '';
		position: absolute;
		border-width: 16px;
		border-color: transparent white transparent transparent;
		border-style: solid;
		top: 0;
		right: 100%;
	}
	.test-test:before{
		content: '';
		position: absolute;
		border-width: 17px;
		border-color: transparent #959ca2 transparent transparent;
		border-style: solid;
		top: -1px;
		right: 100%;

	}

.loading {
	.card {
		min-height: 150px;
	}
}

.card {
	.clear;
	background: white;
	box-shadow: 0 1px 3px #777;
	border-radius: @br-Md;
	position: relative;

	.card--tag + & {
		border-radius: @br-Md 0 @br-Md @br-Md;
	}
}
	.card--tag {
		color: white;
		padding: @gw-Xs;
		border-radius: @br-Md @br-Md 0 0;
		line-height: 1;
		float: right;
	}

	.card--img-wrapper {
		overflow: hidden;
		width: 100%;
	}
		.card--img {
			transition: all .27s;
			-webkit-backface-visibility: hidden;
			width: 100%;

			&:hover { transform: scale(1.1); }
		}

	.card--title {
		background: rgba(0, 0, 0, .85);
		border-radius: 0 0 @br-Md @br-Md;
		color: white;
		font-weight: normal;
		margin: 0;
		padding: @gw-Sm;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		.card__description & {
			color: @purple;
			position: static;
			font-weight: bold;
			background: none;
		}
	}

	.card--description {
		margin: 0;
		padding: 0 @gw-Sm @gw-Sm;
		color: @font-color; // here for when card is inside a link
		font-weight: normal; // here for when card is inside a link
	}

.content-card {
	.card;
	margin: @gw-Sm 0;
	padding: @gw-Sm;

	+ .content-card {
		margin-top: @gw-Md;
	}
}
	.content-card--header {
		margin: 0 -@gw-Sm @gw-Sm;
		padding: 0 @gw-Sm @gw-Sm;
		line-height: 1;
		border-bottom: 1px solid @grey-lighter; 
		color: @grey;
	}

.guide-card--wrapper {
	margin: 0 0 @gw -@gw-Sm;
	padding: 0 0 0 @gw-Sm;
	border-left: 1px solid @grey;
}

.guide-card {
	margin-top: @gw-Md;
	position: relative;

	&:first-child {
		&:after{
			content: '';
			top: 0;
			left: -@gw-Sm - 1;
			background: @grey-lighter;
			width: 3px;
			height: 1.2em;
			position: absolute;
		}
	}

	&:last-child {
		&:after{
			content: '';
			bottom: 0;
			left: -@gw-Sm - 1;
			background: @grey-lighter;
			width: 3px;
			height: 1.2em;
			position: absolute;
		}
	}
}
	.guide-card__food {}
	.guide-card__area {}
	.guide-card__sub {margin-top: 0; position: relative;}
	.guide-card__attraction {}
	.guide-card__location {}
	.guide-card__activity {}
	.guide-card__note {}
	.guide-card__map {}
	.guide-card__separator {
		font-size: 1.2em;

		&:before{
			content: '';
			top: 1.2em;
			left: -@gw-Md + @gw-Xs - 1;
			background: @grey-dark;
			width: @gw-Sm+1;
			height: @gw-Sm+1;
			border-radius: 50%;
			position: absolute;
		}
	}

	.guide-card--directions {
		margin-top: -@gw-Md;
		padding: @gw-Sm;
		text-align: center;
		font-size: 16px;

		.guide-card__sub & {
			background: @grey-light;
			margin-top: 0;
			padding: @gw-Xs;

			.directions--distance { padding-left: @gw-Xs;}
		}
	}
		.directions--method {}
		.directions--time { padding-left: @gw-Md;}
		.directions--distance { padding-left: @gw-Sm; }

	.guide-card--tag {
		text-align: center;
		padding: @gw-Xs;
		border-radius: @br-Md @br-Md 0 0;
		color: white;
		font-size: 18px;

		+ .guide-card--content {
			border-radius: 0 0 @br-Md @br-Md;
		}
	}

	.guide-card--content {
		.card;

		overflow: hidden;

		.guide-card__area & {
			background: @purple;
			color: white;
		}

		.guide-card__separator & {
			background: @grey-light;
			text-align: center;
		}
	}

		.guide-card--img-wrapper {
			.guide-card__sub & {
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;
			}
		}
			.guide-card--img {
				width: 100%;
			}

		.guide-card--info {
			padding: @gw-Sm;
		}
			.guide-card--header {
				margin: 0 0 @gw-Md;

				.guide-card__separator & {
					margin: 0;
					font-weight: bold;
				}
			}

			.guide-card--description {}
			.guide-card--suggested-time {
				color: @grey;

				.guide-card__area & {
					color: white;
				}
			}

@media(min-width: @screen-Sm) {
	.guide-card--wrapper {
		margin-left: @gw;
		padding-left: @gw;
	}

	.guide-card {
		&:first-child {
			&:after{
				left: -@gw-Md - 1;
			}
		}

		&:last-child {
			&:after{
				left: -@gw-Md - 1;
			}
		}
	}
		.guide-card__food {}
		.guide-card__area {}
		.guide-card__sub {}
		.guide-card__attraction {}
		.guide-card__location {}
		.guide-card__activity {}
		.guide-card__note {}
		.guide-card__map {}
		.guide-card__separator {
			&:before{
				left: -@gw-Lg + @gw-Xs - 1;
			}
		}

		.guide-card--directions {
			padding: @gw-Md;
			font-size: 24px;

			.guide-card__sub & {
				position: absolute;
				background: white;
				margin-top: 0;
				padding: @gw-Xs;
				font-size: 16px;
				left: 2%;
				right: 77%;
				top: -20px;
				z-index: 1;
				border: 1px solid @grey;

				.directions--distance { padding-left: @gw-Xs;}
			}
		}
			.directions--method {}
			.directions--time { padding-left: @gw-Md;}
			.directions--distance { padding-left: @gw-Sm; }

		/* .guide-card--tag {
			text-align: center;
			padding: @gw-Xs;
			border-radius: @br-Md @br-Md 0 0;
			color: white;
			font-size: 18px;

			+ .guide-card--content {
				border-radius: 0 0 @br-Md @br-Md;
			}
		} */

		.guide-card--content {
			.guide-card__sub & {
				display: flex;
				flex-wrap: wrap;
				align-items: stretch;
			}
		}

			.guide-card--img-wrapper {
				.guide-card__sub & {
					width: 25%;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center center;
				}
			}
				.guide-card--img {
					width: 100%;
				}

			.guide-card--info {
				padding: @gw-Sm;

				.guide-card__sub & {
					width: 75%;
				}
			}
				/* .guide-card--header {
					margin: 0 0 @gw-Md;

					.guide-card__separator & {
						margin: 0;
						font-weight: bold;
					}
				}

				.guide-card--description {}
				.guide-card--suggested-time {
					color: @grey;

					.guide-card__area & {
						color: white;
					}
				} */
}